{% block carousel_card_md %}
<div class="card familyhub-card">
    <div class="card-img-wrapper">
        <!-- Inline style used here to import link with jinja -->
        <div class="card-picture" title="activitytitle"
            style="background-image: url(https://www.signupgenius.com/cms/images/home/84072225_600x400.jpg)">
        </div>
    </div>
    <div class="card-body">
        <div class="card-title-wrapper">
            <h4 class="card-title">activitytitle</h4>
        </div>
        <div class="card-text-wrapper">
            <p class="card-text">activityshortDescription...</p>
            <a href="#">Read More <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>
{% endblock %}