{% block carousel_card %}
<a class="card familyhub-card carousel-card-js" href="{{ url_for('activity_listing_page', title=activity['title'], activity_id=activity['_id'])}}">
    <div class="card-img-wrapper">
        <!-- Inline style used here to import link with jinja -->
        <div class="card-picture" title="{{activity.title}}" style="background-image: url({{activity.imgUrl}})">
            <div class="location-text">{{activity.address.town}}</div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-title-wrapper">
            <h4 class="card-title">{{activity.title}}</h4>
        </div>
        <div class="card-text-wrapper">
            <p class="card-text">{{activity.shortDescription}}...</p>
        </div>
        <div class="readmore-link">Read More <i class="fas fa-arrow-circle-right"></i></div>
    </div>
</a>
{% endblock %}