{% block event_card %}

    <div class="card familyhub-card">
        <img class="card-img-top" src="https://i.ibb.co/80zvbR9/Fair-fun.jpg"
            alt="Card image cap">
        <div class="custom-calendar-icon">
            <div class="display-month">JUN</div>
            <div class="display-day">25</div>
        </div>
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="{{url_for('event_listing_page')}}" class="btn btn-readmore">Read More</a>
        </div>
    </div>


{% endblock %}