{% block fh_address %}
<!-- Family Hub contact address -->
<h3>Contact</h3>
<a href="https://www.google.com/maps/place/Lindholm+19,+2133+CM+Hoofddorp/@52.3055747,4.6688342,17z/data=!4m13!1m7!3m6!1s0x47c5e7c99d7f827b:0x9ee711c788d9afa4!2sLindholm+19,+2133+CM+Hoofddorp!3b1!8m2!3d52.3056758!4d4.6688139!3m4!1s0x47c5e7c99d7f827b:0x9ee711c788d9afa4!8m2!3d52.3056758!4d4.6688139"
rel="noopener" target="_blank" aria-label="FamilyHub on google maps">
    <i class="fas fa-map-marker-alt"></i> Lindholm 19, 2133CM Hoofddorp
</a>
<p>
    <a href="{{url_for('contact_page')}}">
        <i class="fas fa-at"></i> contact@family-hub.nl
    </a>
</p>
<p>
    <i class="far fa-registered"></i> KVK: 53409159
</p>
{% endblock %}