{% block add_edit_activity %}

<div class="col-12">
    <div class="form-row">
        <div class="form-group col-12">
            <label for="accountId">Activity Title *</label>
            <input id="accountId" class="form-control" type="text" placeholder="Your activity title" required>
        </div>
    </div>
</div>
<div class="col-12">
    <hr>
</div>
<div class="col-12">
    <div class="form-row">
        <div class="form-group col-12 col-md-4">
            <h3>Dates and Times</h3>
            <div class="form-row">
                <div class="form-group col-6 col-md-12 col-xl-6">
                    <label>Start Date: *</label>
                    <input id="start" class="no-click input-group date datepicker-wider" data-date-format="mm-dd-yyyy"
                        required>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <div class="form-group col-6 col-md-12 col-xl-6">
                    <label>End Date: *</label>
                    <input id="end" class="no-click input-group date datepicker-wider" data-date-format="mm-dd-yyyy"
                        required>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>

            </div>

        </div>
        <div class="form-group col-12 col-md-8">

            <!-- Monday times -->
            <div class="form-row">
                <div class="form-group weekday-checkbox-row-top col-2 col-md-4">
                    <input class="form-check-input weekday-checkbox" type="checkbox" value="" id="mon">
                    <label class="form-check-label weekday-checkbox-label" for="mon">
                        Mon
                    </label>
                </div>
                <div class="form-group col-5 col-md-4">
                    <label>Start time </label>
                    <input id="monStart" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 col-md-4">
                    <label>End Time </label>
                    <input id="monEnd" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>

            <!-- Tuesday times -->
            <div class="form-row">
                <div class="form-group weekday-checkbox-row col-2 col-md-4">
                    <input class="form-check-input weekday-checkbox" type="checkbox" value="" id="tue">
                    <label class="form-check-label weekday-checkbox-label" for="tue">
                        Tue
                    </label>
                </div>
                <div class="form-group col-5 col-md-4">
                    <input id="tueStart" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 col-md-4">
                    <input id="tueEnd" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>

            <!-- Wednesday times -->
            <div class="form-row">
                <div class="form-group weekday-checkbox-row col-2 col-md-4">
                    <input class="form-check-input weekday-checkbox" type="checkbox" value="" id="wed">
                    <label class="form-check-label weekday-checkbox-label" for="wed">
                        Wed
                    </label>
                </div>
                <div class="form-group col-5 col-md-4">
                    <input id="wedStart" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 col-md-4">
                    <input id="wedEnd" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>

            <!-- Thursday times -->
            <div class="form-row">
                <div class="form-group weekday-checkbox-row col-2 col-md-4">
                    <input class="form-check-input weekday-checkbox" type="checkbox" value="" id="thu">
                    <label class="form-check-label weekday-checkbox-label" for="thu">
                        Thu
                    </label>
                </div>
                <div class="form-group col-5 col-md-4">
                    <input id="thuStart" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 col-md-4">
                    <input id="thuEnd" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>

            <!-- Friday times -->
            <div class="form-row">
                <div class="form-group weekday-checkbox-row col-2 col-md-4">
                    <input class="form-check-input weekday-checkbox" type="checkbox" value="" id="Fri">
                    <label class="form-check-label weekday-checkbox-label" for="Fri">
                        Fri
                    </label>
                </div>
                <div class="form-group col-5 col-md-4">
                    <input id="friStart" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 col-md-4">
                    <input id="friEnd" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>

            <!-- Saturday times -->
            <div class="form-row">
                <div class="form-group weekday-checkbox-row col-2 col-md-4">
                    <input class="form-check-input weekday-checkbox" type="checkbox" value="" id="Sat">
                    <label class="form-check-label weekday-checkbox-label" for="Sat">
                        Sat
                    </label>
                </div>
                <div class="form-group col-5 col-md-4">
                    <input id="satStart" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 col-md-4">
                    <input id="satEnd" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>

            <!-- Sunday times -->
            <div class="form-row">
                <div class="form-group weekday-checkbox-row col-2 col-md-4">
                    <input class="form-check-input weekday-checkbox" type="checkbox" value="" id="Sun">
                    <label class="form-check-label weekday-checkbox-label" for="Sun">
                        Sun
                    </label>
                </div>
                <div class="form-group col-5 col-md-4">
                    <input id="sunStart" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 col-md-4">
                    <input id="sunEnd" class="no-click input-group date">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <hr>
</div>

<div class="col-12">
    <h3>Activity location</h3>
    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            {% include 'partials/forms/_get_address.html' %}
        </div>
        <div class="form-group col-12 col-md-6">
            {% include 'partials/forms/_location_dropdown.html' %}
        </div>
    </div>

    <hr>

    <div class="form-row">
        <!-- Categories -->
        <div class="form-group col-12 col-md-6">
            <h3>Categories *</h3>

            {% include 'partials/forms/_categories.html' %}

        </div>
        <div class="form-group col-12 col-md-6">
            <h3>Age range *</h3>
            {% include 'partials/forms/_age_range.html' %}

            <!-- heading outside partial because needs margin top in this form but not in another the partial is used in-->
            <h3 class="mt-3">indoor / outdoor *</h3>
            {% include 'partials/forms/_in_out_checkboxes.html' %}
        </div>
    </div>
</div>

<div class="col-12">
    <hr>
</div>

<div class="col-12">
    {% include 'partials/forms/_get_contact_info.html' %}
</div>

<div class="col-12">
    <hr>
</div>

<div class="col-12">
    <div class="form-group">
        <h3>Activity image upload</h3>
        <p>Please upload the photo for your listing to a free image hosting site
            (we recommend <a href="https://imgbb.com/" target="_blank" aria-label="ImgBB">ImgBB</a>) and paste the
            direct url for it here</p>
        <input id="imgUrl" class="form-control" type="text" placeholder="https://..." required>
    </div>
</div>
<div class="col-12">
    <hr>
</div>
<div class="col-12">
    <div class="form-group">
        <h3>Activity description</h3>
        <textarea class="form-control" id="description" rows="11"
            placeholder="The first sentence of this description will also appear with your activity listing in Family Hub search."
            required>
        </textarea>
    </div>
</div>
<div class="col-12">
    <hr>
</div>

{% endblock %}