{% block add_edit_event %}

<div class="col-12">
    <div class="form-row">
        <div class="form-group col-12 col-md-9">
            <label for="accountId">Event Title *</label>
            <input id="accountId" class="form-control" type="text" placeholder="Your event title" required>
        </div>
        <div class="form-group col-12 col-md-3">
            <label for="date">Event Date</label>
            <input id="date" class="no-click input-group date datepicker-wider" data-date-format="mm-dd-yyyy" required>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
    </div>
</div>
<div class="col-12">
    <hr>
</div>
<div class="col-12">

    <div class="form-row">

        <div class="form-group col-12 col-md-6">
            <h3>Price Range</h3>
            <label for="from">Prices from:</label>
            <input type="number" class="form-control">
            <small>Please round to nearest euro</small>
            <div class="custom-control custom-switch pt-4">
                <input type="checkbox" class="custom-control-input" id="isFree">
                <label class="custom-control-label" for="isFree">Free</label>
            </div>
        </div>

        <div class="form-group col-12 col-md-6">
            <h3>Event location</h3>
            {% include 'partials/forms/_get_address.html' %}

            {% include 'partials/forms/_location_dropdown.html' %}
        </div>
    </div>
</div>

<div class="col-12">
    <hr>
</div>

<div class="col-12">

    <div class="form-row">
        <!-- Categories -->
        <div class="form-group col-12 col-md-6">
            <h3>Age range *</h3>
            {% include 'partials/forms/_age_range.html' %}
        </div>
        <div class="form-group col-12 col-md-6">
            <h3>indoor / outdoor *</h3>
            {% include 'partials/forms/_in_out_checkboxes.html' %}
        </div>
    </div>
</div>

<div class="col-12">
    <hr>
</div>

<div class="col-12">
    {% include 'partials/forms/_get_contact_info.html' %}
</div>

<div class="col-12">
    <hr>
</div>

<div class="col-12">
    <div class="form-group">
        <h3>Event image upload</h3>
        <p>Please upload the photo for your listing to a free image hosting site (we recommend <a
                href="https://imgbb.com/" target="_blank" aria-label="ImgBB">ImgBB</a>) and paste the direct url for it
            here</p>
        <input id="imgUrl" class="form-control" type="text" placeholder="https://..." required>
    </div>
</div>
<div class="col-12">
    <hr>
</div>
<div class="col-12">
    <div class="form-group">
        <h3>Event description</h3>
        <textarea class="form-control" id="description" rows="11"
            placeholder="The first sentence of this description will also appear with your event listing in Family Hub search."
            required></textarea>

    </div>
</div>
<div class="col-12">
    <hr>
</div>

{% endblock %}