{% block age_range %}
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="age-under-4">
    <label class="form-check-label" for="age-under-4">
        Under 4 yrs
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="age-4-6">
    <label class="form-check-label" for="age-4-6">
        4 - 6 yrs
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="age-6-8">
    <label class="form-check-label" for="age-6-8">
        6 - 8 yrs
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="age-8-10">
    <label class="form-check-label" for="age-8-10">
        8 - 10 yrs
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="age-10-12">
    <label class="form-check-label" for="age-10-12">
        10 - 12 yrs
    </label>
</div>
<small>Select all that apply</small>

{% endblock %}