{% block categories %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="sports">
        <label class="form-check-label" for="sports">
        Sports
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="creative">
        <label class="form-check-label" for="creative">
        Creative
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="scienceTech">
        <label class="form-check-label" for="scienceTech">
        Science & Tech
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="cultureMusic">
        <label class="form-check-label" for="cultureMusic">
        Cultural & Music
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="yogaMindfulness">
        <label class="form-check-label" for="yogaMindfulness">
        Yoga & Mindfulnes
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="museumsExhibitions">
        <label class="form-check-label" for="nature">
        Museums & Exhibitions
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="parksPlaygrounds">
        <label class="form-check-label" for="hillegom">
        Parks & playgrounds
        </label>
    </div>
    <small>Select all that apply</small>
{% endblock %}