{% block location_dropdown %}

<!-- dropdown needed for creating/editing listings -->
<label for="town">Town / City</label>
<select id="town" class="form-control" required>
    <option value="" disabled>Select</option>
    <option value="Aalsmeer">Aalsmeer</option>
    <option value="Badhoevedorp">Badhoevedorp</option>
    <option value="Bloemendaal">Bloemendaal</option>
    <option value="Cruquius">Cruquius</option>
    <option value="Haarlem">Haarlem</option>
    <option value="Heemstede">Heemstede</option>
    <option value="Hillegom">Hillegom</option>
    <option value="Hoofddorp">Hoofddorp</option>
    <option value="Lisse">Lisse</option>
    <option value="Nieuw-Vennep">Nieuw-Vennep</option>
    <option value="Santpoort-Noord">Santpoort-Noord</option>
    <option value="Uithorn">Uithorn</option>
    <option value="Zandvoort">Zandvoort </option>
</select>
{% endblock %}