{% block location %}

<!-- checkbox needed for filtering listings with multiple choices -->
<div class="card-body">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="aalsmeer">
        <label class="form-check-label" for="aalsmeer">
        Aalsmeer
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="badhoevedorp">
        <label class="form-check-label" for="badhoevedorp">
        Badhoevedorp
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="bloemendaal">
        <label class="form-check-label" for="bloemendaal">
        Bloemendaal
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="cruquius">
        <label class="form-check-label" for="cruquius">
        Cruquius
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="haarlem">
        <label class="form-check-label" for="haarlem">
        Haarlem
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="heemstede">
        <label class="form-check-label" for="heemstede">
        Heemstede
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="hillegom">
        <label class="form-check-label" for="hillegom">
        Hillegom
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="hoofddorp">
        <label class="form-check-label" for="hoofddorp">
        Hoofddorp
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="lisse">
        <label class="form-check-label" for="lisse">
        Lisse
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="nieuw-vennep">
        <label class="form-check-label" for="nieuw-vennep">
        Nieuw-Vennep
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="santpoort-noord">
        <label class="form-check-label" for="santpoort-noord">
        Santpoort-Noord
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="uithorn">
        <label class="form-check-label" for="uithorn">
        Uithorn
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="zandvoort">
        <label class="form-check-label" for="zandvoort">
        Zandvoort
        </label>
    </div>
</div>
{% endblock %}