{% block in_out_radio %}

<div class="form-check">
    <input class="form-check-input" type="radio" name="indoor-outdoor-radio" value="" id="indoor">
    <label class="form-check-label" for="in">
        Indoor
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="indoor-outdoor-radio" value="" id="outdoor">
    <label class="form-check-label" for="outdoor">
        Outdoor
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="indoor-outdoor-radio" value="" id="inOrOut">
    <label class="form-check-label" for="inOrOut">
        Either/Both
    </label>
</div>


{% endblock %}