{% block in_out_checkboxes %}

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="indoor">
            <label class="form-check-label" for="indoor">
                Indoor
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="outdoor">
            <label class="form-check-label" for="outdoor">
                Outdoor
            </label>
        </div>
        <small>Select all that apply</small>


{% endblock %}