{% block activities_md %}

<!-- created to save space. On mobiles accordion form is collapsible, 
    on larger screens filters are in a separate element that is 
    visible on the left side of the screen on larger screens-->
<form id="activity-filters-md" class="col-md-4 col-lg-3 d-none d-md-block">

    <!-- Location Options -->
    <div class="card">
        <div class="familyhub-card-header-no-button">
            <h2 class="filter-heading">
                Location
            </h2>
        </div>

        <div class="filter-options">
            {% include 'components/forms/location_dropdown.html' %}
        </div>
    </div>

    <!-- Category Options -->
    <div class="card">
        <div class="familyhub-card-header-no-button">
            <h2 class="filter-heading">
                Category
            </h2>
        </div>
        <div class="filter-options">
            <div class="card-body categories-dropdown-js">
                {% include 'components/search_filters/categories_filter.html' %}
            </div>
        </div>
    </div>

    <!-- Days Options -->
    <div class="card">
        <div class="familyhub-card-header-no-button">
            <h2 class="filter-heading">
                Days of the Week
            </h2>
        </div>
        <div class="filter-options">
            <div class="card-body days-dropdown-js">
                {% include 'components/search_filters/daysofweek_filter.html' %}
            </div>
        </div>
    </div>

    <!-- In / Out Options -->
    <div class="card">
        <div class="familyhub-card-header-no-button">
            <h2 class="filter-heading">
                Indoor or Outdoor
            </h2>
        </div>
        <div class="filter-options">
            <div class="card-body inout-checkboxes-js">
                {% include 'components/search_filters/in_out_filter.html' %}
            </div>
        </div>
    </div>

    <!-- Age Range Options -->
    <div class="card">
        <div class="familyhub-card-header-no-button">
            <h2 class="filter-heading">
                Age Range
            </h2>
        </div>
        <div class="filter-options">
            <div class="card-body ages-checkboxes-js">
                {% include 'components/forms/age_range.html' %}
            </div>
        </div>
    </div>

    <!-- Days Options -->
    <div class="card">
        <div class="familyhub-card-header-no-button">
            <h2 class="filter-heading">
                Other details
            </h2>
        </div>
        <div class="filter-options">
            <div class="card-body other-checkboxes-js">
                {% include 'components/forms/other_details.html' %}
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-search my-4 clear-filters">Clear filters</button>
</form>

{% endblock %}