{% block categories_filter %}

    <select id="categories" name="categories" class="form-control">
        <option value="" selected disabled>Select</option>
        <option value="Sports">Sports</option>
        <option value="Swimming">Swimming</option>
        <option value="Creative">Creative</option>
        <option value="scienceTech">Science & Tech</option>
        <option value="cultureMusic">Cultural & Music </option>
        <option value="dramaDance">Drama & Dance </option>
        <option value="yogaMindfulness">Yoga & Mindfulness </option>
        <option value="museumsExhibitions">Museums & Exhibitions </option>
        <option value="parksPlaygrounds">Parks & playgrounds </option>
        <option value="playgroups">Playgroups</option>
        <option value="nature">Nature</option>
        <option value="animals">Animals</option>
        <option value="clubs">Clubs</option>
        <option value="parties">Kids Parties</option>
    </select>


{% endblock %}