{% block days_filter %}

    <select id="daysFilter" name="daysFilter" class="form-control">
        <option value="" selected disabled>Select</option>
        <option value="mon">Monday</option>
        <option value="tue">Tuesday</option>
        <option value="wed">Wednesday</option>
        <option value="thu">Thursday</option>
        <option value="fri">Friday</option>
        <option value="sat">Saturday</option>
        <option value="sun">Sunday</option>
        <option value="weekend">Weekend</option>
        <option value="weekdays">Weekday</option>
        <option value="any">Any</option>
    </select>


{% endblock %}