{% block events_sm %}
<!-- created to save space. On mobiles accordion form is collapsible, 
on larger screens filters are in a separate element that is 
visible on the left side of the screen on larger screens-->
<div class="filters-wrapper-mobile col-12 d-md-none accordion" id="filter-dropdown">

    <div class="familyhub-card-header" id="filter-dropdown-heading">
        <h2 class="filter-heading">
            <button class="btn btn-link filter-heading-button" type="button" data-toggle="collapse"
                data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
                Filter Search
            </button>
        </h2>
    </div>


    <div id="collapseFilter" class="collapse filter-options" aria-labelledby="filter your search"
        data-parent="#filter-dropdown">

        <form id="event-filters">
            <div class="accordion" id="event-filters-accordion">
                <!-- Location Options -->
                <div class="card">
                    <div class="familyhub-card-header" id="event-filter-location">
                        <h2 class="filter-heading">
                            <button class="btn btn-link filter-heading-button" type="button" data-toggle="collapse"
                                data-target="#collapseLocation" aria-expanded="true" aria-controls="collapseLocation">
                                Location
                            </button>
                        </h2>
                    </div>

                    <div id="collapseLocation" class="collapse filter-options show"
                        aria-labelledby="event filter by location" data-parent="#event-filters-accordion">

                        <!-- Location Options -->
                        {% include 'partials/forms/_location_checkboxes.html' %}
                    </div>
                </div>

                <!-- Date Options. No partials here because date pickers have to have unique IDs for js to work -->
                <div class="card">
                    <div class="familyhub-card-header" id="event-filter-category">
                        <h2 class="filter-heading">
                            <button class="btn btn-link filter-heading-button collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseDate" aria-expanded="false"
                                aria-controls="collapseDate">
                                Date
                            </button>
                        </h2>
                    </div>
                    <div id="collapseDate" class="collapse filter-options" aria-labelledby="event filter by date"
                        data-parent="#event-filters-accordion">
                        <div class="card-body">
                            <label>Select Date: </label>
                            <input id="eventFilterDatepickerSm" class="datepicker input-group date"
                                data-date-format="mm-dd-yyyy">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>
                </div>

                <!-- Age Range -->
                <div class="card">
                    <div class="familyhub-card-header" id="event-filter-age-range">
                        <h2 class="filter-heading">
                            <button class="btn btn-link filter-heading-button collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseAgeRange" aria-expanded="false"
                                aria-controls="collapseAgeRange">
                                Age range
                            </button>
                        </h2>
                    </div>
                    <div id="collapseAgeRange" class="collapse filter-options"
                        aria-labelledby="event filter by age range" data-parent="#event-filters-accordion">

                        <!-- Age Range Options -->
                        <div class="card-body">
                            {% include 'partials/forms/_age_range.html' %}
                        </div>

                    </div>
                </div>

                <!-- In / Out -->
                <div class="card">
                    <div class="familyhub-card-header" id="event-filter-in-out">
                        <h2 class="filter-heading">
                            <button class="btn btn-link filter-heading-button collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseInOut" aria-expanded="false"
                                aria-controls="collapseInOut">
                                Indoor or Outdoor
                            </button>
                        </h2>
                    </div>
                    <div id="collapseInOut" class="collapse filter-options"
                        aria-labelledby="event filter by indoors or outdoors" data-parent="#event-filters-accordion">

                        <!-- In / Out Options -->
                        <div class="card-body">
                            {% include 'partials/forms/_in_out_radio.html' %}
                        </div>
                    </div>
                </div>

                <!-- Price -->
                <div class="card">
                    <div class="familyhub-card-header" id="event-filter-category">
                        <h2 class="filter-heading">
                            <button class="btn btn-link filter-heading-button collapsed" type="button"
                                data-toggle="collapse" data-target="#collapsePrice" aria-expanded="false"
                                aria-controls="collapsePrice">
                                Price
                            </button>
                        </h2>
                    </div>
                    <div id="collapsePrice" class="collapse filter-options" aria-labelledby="event filter by price"
                        data-parent="#event-filters-accordion">

                        <!-- Price -->
                        <div class="card-body">
                            <div class="custom-control custom-switch">
                                <!-- IsFree toggle not in partials because needs unique id to work -->
                                <!-- LATER: add JS to disable price range options when free is toggled on -->
                                <input type="checkbox" class="custom-control-input" id="isFreeToggle1">
                                <label class="custom-control-label" for="isFreeToggle1">Free</label>
                            </div>

                            <!-- Price Options -->
                            {% include 'partials/forms/_price_range.html' %}

                        </div>

                    </div>
                </div>

                <a href="#" class="btn btn-search mt-4">Clear filters</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}