{% block add_edit_activity %}

<div class="col-12">
    <div class="form-row">
        <div class="form-group col-12">
            <label for="title">Activity Title *</label>
            <input id="title" name="title" class="form-control" type="text" placeholder="Your activity title" required>
        </div>
    </div>
</div>
<div class="col-12">
    <hr>
</div>
<div id="activityForm" class="col-12">
    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            <h3>Dates and Times</h3>
            <div class="form-row">
                <div class="form-group col-6 col-md-12 col-lg-6">
                    <label>Start Date: *</label>
                    <input id="start" name="start" class="no-click input-group date datepicker-wider"
                        data-date-format="dd-mm-yyyy" required>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                <div class="form-group col-6 col-md-12 col-lg-6">
                    <label>End Date: *</label>
                    <input id="end" name="end" class="no-click input-group date datepicker-wider"
                        data-date-format="dd-mm-yyyy" required>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>

            </div>

        </div>
        <div class="form-group col-12 col-md-6">

            <!-- Monday times -->
            <div class="form-row">
                <div class="form-group weekday-switch-row-top col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="mon" id="mon">
                        <label class="custom-control-label" for="mon">Mon</label>
                    </div>
                </div>
                <div class="form-group col-5 mon-times">
                    <label>Start time </label>
                    <input id="monStart" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 mon-times">
                    <label>End Time </label>
                    <input id="monEnd" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>

            <!-- Tuesday times -->
            <div class="form-row">
                <div class="form-group weekday-switch-row col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="tue" id="tue">
                        <label class="custom-control-label" for="tue">Tue</label>
                    </div>
                </div>
                <div class="form-group col-5 tue-times">
                    <input id="tueStart" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 tue-times">
                    <input id="tueEnd" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>

            <!-- Wednesday times -->
            <div class="form-row">
                <div class="form-group weekday-switch-row col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="wed" id="wed">
                        <label class="custom-control-label" for="wed">Wed</label>
                    </div>
                </div>
                <div class="form-group col-5 wed-times">
                    <input id="wedStart" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 wed-times">
                    <input id="wedEnd" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>

            <!-- Thursday times -->
            <div class="form-row">
                <div class="form-group weekday-switch-row col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="thu" id="thu">
                        <label class="custom-control-label" for="thu">Thu</label>
                    </div>
                </div>
                <div class="form-group col-5 thu-times">
                    <input id="thuStart" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 thu-times">
                    <input id="thuEnd" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>

            <!-- Friday times -->
            <div class="form-row">
                <div class="form-group weekday-switch-row col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="fri" id="fri">
                        <label class="custom-control-label" for="fri">Fri</label>
                    </div>
                </div>
                <div class="form-group col-5 fri-times">
                    <input id="friStart" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 fri-times">
                    <input id="friEnd" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>

            <!-- Saturday times -->
            <div class="form-row">
                <div class="form-group weekday-switch-row col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="sat" id="sat">
                        <label class="custom-control-label" for="sat">Sat</label>
                    </div>
                </div>
                <div class="form-group col-5 sat-times">
                    <input id="satStart" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 sat-times">
                    <input id="satEnd" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>

            <!-- Sunday times -->
            <div class="form-row">
                <div class="form-group weekday-switch-row col-2">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="sun" id="sun">
                        <label class="custom-control-label" for="sun">Sun</label>
                    </div>
                </div>
                <div class="form-group col-5 sun-times">
                    <input id="sunStart" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
                <div class="form-group col-5 sun-times">
                    <input id="sunEnd" class="no-click input-group date" disabled>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-clock"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12">
    <hr>
</div>

<div class="col-12">
    <h3>Activity location</h3>
    <div class="form-row">
        <div class="form-group col-12 col-md-6">
            {% include 'components/forms/get_address.html' %}
        </div>
        <div class="form-group col-12 col-md-6">
            {% include 'components/forms/location_dropdown.html' %}
        </div>
    </div>

    <hr>

    <div class="form-row">
        <!-- Categories -->
        <div class="form-group col-12 col-md-6">
            <h3>Categories *</h3>

            {% include 'components/forms/categories.html' %}

        </div>
        <div class="form-group col-12 col-md-6">
            <h3>Age range *</h3>
            {% include 'components/forms/age_range.html' %}

            <!-- heading outside partial because needs margin top in this form but not in another the partial is used in-->
            <h3 class="mt-3">indoor / outdoor *</h3>
            {% include 'components/forms/in_out_checkboxes.html' %}
        </div>
    </div>
</div>

<div class="col-12">
    <hr>
</div>

<div class="col-12">
    {% include 'components/forms/get_contact_info.html' %}
</div>

<div class="col-12">
    <hr>
</div>

<div class="col-12">
    <div class="form-group">
        <h3>Activity image upload</h3>
        <p>Please upload the photo for your listing to a free image hosting site
            (we recommend <a href="https://imgbb.com/" target="_blank" aria-label="ImgBB">ImgBB</a>) and paste the
            direct url for it here</p>
        <input id="imgUrl" class="form-control" type="text" placeholder="https://..." required>
    </div>
</div>
<div class="col-12">
    <hr>
</div>
<div class="col-12">
    <div class="form-group">
        <h3>Activity description</h3>
        <textarea class="form-control" id="description" rows="11"
            placeholder="The first sentence of this description will also appear with your activity listing in Family Hub search."
            required>
        </textarea>
    </div>
</div>
<div class="col-12">
    <hr>
</div>

{% endblock %}