{% block add_edit_event %}

<div class="col-12">
    <div class="form-row">
        <div class="form-group col-12 col-md-9">
            <label for="accountId">Event Title *</label>
            <input id="accountId" name="title" class="form-control" type="text" maxlength="50" placeholder="Your event title" required>
        </div>
        <div class="form-group col-12 col-md-3">
            <label for="date">Event Date</label>
            <input id="date" name="date" class="no-click input-group date datepicker-wider" data-date-format="dd-mm-yyyy" required>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
    </div>
</div>
<div class="col-12">
    <hr>
</div>
<div class="col-12">

    <div class="form-row">

        <div class="form-group col-12 col-md-6">
            <h3>Price Range</h3>
            <label for="from">Price (per person) from:</label>
            <input name="from" id="from" type="number" min="1" class="form-control" required>
            <small>Please round to nearest euro</small>
            <div class="custom-control custom-switch pt-4">
                <input type="checkbox" class="custom-control-input" name="isFree" id="isFree">
                <label class="custom-control-label" for="isFree">Free</label>
            </div>
        </div>

        <div class="form-group col-12 col-md-6">
            <h3>Event location</h3>
            {% include 'components/forms/get_address.html' %}

            {% include 'components/forms/location_dropdown.html' %}
        </div>
    </div>
</div>

<div class="col-12">
    <hr>
</div>

<div class="col-12">

    <div class="form-row">
        <!-- Categories -->
        <div class="form-group col-12 col-md-6">
            <h3>Age range *</h3>
            {% include 'components/forms/age_range.html' %}
        </div>
        <div class="form-group col-12 col-md-6">
            <h3>indoor / outdoor *</h3>
            {% include 'components/forms/in_out_checkboxes.html' %}
        </div>
    </div>
</div>

<div class="col-12">
    <hr>
</div>

<div class="col-12">
    {% include 'components/forms/get_contact_info.html' %}
</div>

<div class="col-12">
    <hr>
</div>

<div class="col-12">
    <div class="form-group">
        <h3>Event image upload</h3>
        <p>Please upload the photo for your listing to a free image hosting site (we recommend <a
                href="https://imgbb.com/" target="_blank" aria-label="ImgBB">ImgBB</a>) and paste the direct url for it
            here</p>
        <input id="imgUrl" name="imgUrl" class="form-control" type="text"  maxlength="100" placeholder="https://..." required>
        <small>Please include full url including https:// </small>
    </div>
</div>
<div class="col-12">
    <hr>
</div>
<div class="col-12">
    <div class="form-group">
        <h3>Event description</h3>
        <textarea  maxlength="2000" class="form-control" name="description" id="description" rows="11"
            placeholder="The first sentence of this description will also appear with your event listing in Family Hub search."
            required></textarea>

    </div>
</div>
<div class="col-12">
    <hr>
</div>

{% endblock %}

