{% block age_range %}
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="under4">
    <label class="form-check-label" name="under4" for="under4">
        Under 4 yrs
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="age4to6">
    <label class="form-check-label" name="age4to6" for="age4to6">
        4 - 6 yrs
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="age6to8">
    <label class="form-check-label" name="age6to8" for="age6to8">
        6 - 8 yrs
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="age8to10">
    <label class="form-check-label" name="age8to10" for="age8to10">
        8 - 10 yrs
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="age10to12">
    <label class="form-check-label" name="age10to12" for="age10to12">
        10 - 12 yrs
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="age12up">
    <label class="form-check-label" name="age12up" for="age12up">
        12 yrs +
    </label>
</div>
<small>Select all that apply</small>

{% endblock %}