{% block categories %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox"  id="sports" required>
        <label class="form-check-label" for="sports">
        Sports
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="creative" required>
        <label class="form-check-label" for="creative">
        Creative
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="scienceTech" required>
        <label class="form-check-label" for="scienceTech">
        Science & Tech
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="cultureMusic" required>
        <label class="form-check-label" for="cultureMusic">
        Cultural & Music
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="yogaMindfulness" required>
        <label class="form-check-label" for="yogaMindfulness">
        Yoga & Mindfulnes
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="museumsExhibitions" required>
        <label class="form-check-label" for="nature">
        Museums & Exhibitions
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="parksPlaygrounds" required>
        <label class="form-check-label" for="hillegom">
        Parks & playgrounds
        </label>
    </div>
    <small>Select at least one</small>
{% endblock %}