{% block days %}

    <div class="card-body days-checkboxes-js">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="mon">
            <label class="form-check-label" for="mon">
            Monday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="tue">
            <label class="form-check-label" for="tue">
            Tuesday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="wed">
            <label class="form-check-label" for="wed">
            Wednesday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="thu">
            <label class="form-check-label" for="thu">
            Thursday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fri">
            <label class="form-check-label" for="fri">
            Friday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="sat">
            <label class="form-check-label" for="sat">
            Saturday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="sun">
            <label class="form-check-label" for="sun">
            Sunday
            </label>
        </div>
    </div>

    {% endblock %}