{% block days %}

    <div class="card-body days-checkboxes-js">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="mon" aria-label="Monday" >
            <label class="form-check-label" for="mon">
            Monday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="tue" aria-label="Tuesday">
            <label class="form-check-label" for="tue">
            Tuesday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="wed" aria-label="Wednesday">
            <label class="form-check-label" for="wed">
            Wednesday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="thu" aria-label="Thursday">
            <label class="form-check-label" for="thu">
            Thursday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fri" aria-label="Friday">
            <label class="form-check-label" for="fri">
            Friday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="sat" aria-label="Saturday">
            <label class="form-check-label" for="sat">
            Saturday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="sun" aria-label="Sunday">
            <label class="form-check-label" for="sun">
            Sunday
            </label>
        </div>
    </div>

    {% endblock %}