{% block days %}

    <div class="card-body days-checkboxes-js">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="monday">
            <label class="form-check-label" for="monday">
            Monday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="tuesday">
            <label class="form-check-label" for="tuesday">
            Tuesday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="wednesday">
            <label class="form-check-label" for="wednesday">
            Wednesday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="thursday">
            <label class="form-check-label" for="thursday">
            Thursday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="friday">
            <label class="form-check-label" for="friday">
            Friday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="saturday">
            <label class="form-check-label" for="saturday">
            Saturday
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="sunday">
            <label class="form-check-label" for="sunday">
            Sunday
            </label>
        </div>
    </div>

    {% endblock %}