{% block location_dropdown %}

<div class="form-row">
    <div class="form-group mb-0 col-12">
        <h3>Location</h3>
    </div>
    <div class="form-group col-12 col-md-4">
        <label for="addressLine1">Address line 1 *</label>
        <input id="addressLine1" name="addressLine1" class="form-control" type="text" maxlength="50" aria-label="input street name and number (required)"
            {% if editor == 'edit' %}value="{{activity.address.addressLine1}}" {% endif %}
            placeholder="Street name and number" required>
    </div>
    <div class="form-group col-12 col-md-4">
        <label for="postcode">Postcode *</label>
        <input id="postcode" name="postcode" class="form-control" type="text" maxlength="7" aria-label="input postcode (required)"
            {% if editor == 'edit' %}value="{{activity.address.postcode}}" {% endif %} placeholder="Postcode" required>
    </div>
    <div class="form-group col-12 col-md-4">
        <!-- dropdown needed for creating/editing listings -->
        <label for="town">Town / City</label>
        <select id="town" name="town" class="form-control" required>
            <option value="" disabled>Select</option>
            <option value="Aalsmeer" aria-label="Aalsmeer" {% if editor == 'edit' and activity.address.town == 'Aalsmeer' %}selected
                {% endif %}>Aalsmeer</option>
            <option value="Badhoevedorp" aria-label="Badhoevedorp" {% if editor == 'edit' and activity.address.town == 'Badhoevedorp' %}selected
                {% endif %}>
                Badhoevedorp</option>
            <option value="Bloemendaal" aria-label="Bloemendaal" {% if editor == 'edit' and activity.address.town == 'Bloemendaal' %}selected
                {% endif %}>Bloemendaal</option>
            <option value="Cruquius" aria-label="Cruquius" {% if editor == 'edit' and activity.address.town == 'Cruquius' %}selected
                {% endif %}>Cruquius</option>
            <option value="Haarlem" aria-label="Haarlem" {% if editor == 'edit' and activity.address.town == 'Haarlem' %}selected
                {% endif %}>Haarlem</option>
            <option value="Heemstede" aria-label="Heemstede" {% if editor == 'edit' and activity.address.town == 'Heemstede' %}selected
                {% endif %}>Heemstede</option>
            <option value="Hillegom" aria-label="Hillegom" {% if editor == 'edit' and activity.address.town == 'Hillegom' %}selected
                {% endif %}>Hillegom</option>
            <option value="Hoofddorp" aria-label="Hoofddorp" {% if editor == 'edit' and activity.address.town == 'Hoofddorp' %}selected
                {% endif %}>Hoofddorp</option>
            <option value="Lisse" aria-label="Lisse" {% if editor == 'edit' and activity.address.town == 'Lisse' %}selected {% endif %}>
                Lisse</option>
            <option value="Nieuw-Vennep" aria-label="Nieuw-Vennep" {% if editor == 'edit' and activity.address.town == 'Nieuw-Vennep' %}selected
                {% endif %}>
                Nieuw-Vennep</option>
            <option value="Santpoort-Noord" aria-label="Santpoort-Noord" 
                {% if editor == 'edit' and activity.address.town == 'Santpoort-Noord' %}selected {% endif %}>
                Santpoort-Noord</option>
            <option value="Uithorn" aria-label="Uithorn" {% if editor == 'edit' and activity.address.town == 'Uithorn' %}selected
                {% endif %}>Uithorn</option>
            <option value="Zandvoort" aria-label="Zandvoort" {% if editor == 'edit' and activity.address.town == 'Zandvoort' %}selected
                {% endif %}>Zandvoort</option>
        </select>
    </div>

</div>
{% endblock %}