{% block address %}
<!-- collect address -->
<label for="addressLine1">Adress line 1 *</label>
<input id="addressLine1" name="addressLine1" class="form-control" type="text" maxlength="50" 
{% if editor == 'edit' %}value="{{activity.address.addressLine1}}" {% endif %} 
placeholder="Street name and number" required>
<label for="postcode" class="mt-3">Postcode *</label>
<input id="postcode" name="postcode" class="form-control" type="text" maxlength="7" 
{% if editor == 'edit' %}value="{{activity.address.postcode}}"{% endif %}
placeholder="Postcode" required>

{% endblock %}