{% block in_out_checkboxes %}

        <div class="form-check">
            <input class="form-check-input in-out-js" name="indoor"  type="checkbox" id="indoor" required>
            <label class="form-check-label" for="indoor">
                Indoor
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input in-out-js" name="outdoor" type="checkbox" id="outdoor" required>
            <label class="form-check-label" for="outdoor">
                Outdoor
            </label>
        </div>
        <small>Select all that apply</small>


{% endblock %}