{% block in_out_checkboxes %}

        <div class="form-check">
            <input class="form-check-input in-out-js" name="indoor"  type="checkbox" id="indoor" aria-label="Indoor"
            {% if editor == 'edit' and activity.indoor %}checked {% elif editor == 'new' %}required {% endif %}>
            <label class="form-check-label" for="indoor">
                Indoor
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input in-out-js" name="outdoor" type="checkbox" id="outdoor" aria-label="Outdoor"
            {% if editor == 'edit' and activity.outdoor %}checked {% elif editor == 'new' %}required {% endif %}>
            <label class="form-check-label" for="outdoor">
                Outdoor
            </label>
        </div>
        


{% endblock %}