{% block location %}

<div class="card-body location-dropdown-js">
    <select id="town" name="town" class="form-control">
        <option value="Select" disabled selected>Select</option>
        <option value="Aalsmeer">Aalsmeer</option>
        <option value="Badhoevedorp">Badhoevedorp</option>
        <option value="Bloemendaal">Bloemendaal</option>
        <option value="Cruquius">Cruquius</option>
        <option value="Haarlem">Haarlem</option>
        <option value="Heemstede">Heemstede</option>
        <option value="Hillegom">Hillegom</option>
        <option value="Hoofddorp">Hoofddorp</option>
        <option value="Lisse">Lisse</option>
        <option value="Nieuw-Vennep">Nieuw-Vennep</option>
        <option value="Santpoort-Noord">Santpoort-Noord</option>
        <option value="Uithorn">Uithorn</option>
        <option value="Zandvoort">Zandvoort</option>
    </select>
</div>
{% endblock %}