{% block location %}

<!-- checkbox needed for filtering listings with multiple choices 
BUG fix: Captialised ids here to match input in database, makes filtering
on click possible -->
<div class="card-body location-checkboxes-js">
    <div class="form-check">
        <input class="form-check-input aalsmeer" type="checkbox" value="" name="aalsmeer" id="Aalsmeer">
        <label class="form-check-label" for="Aalsmeer">
        Aalsmeer
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input badhoevedorp" type="checkbox" value="" name="badhoevedorp" id="Badhoevedorp">
        <label class="form-check-label" for="Badhoevedorp">
        Badhoevedorp
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input bloemendaal" type="checkbox" value="" name="bloemendaal" id="Bloemendaal">
        <label class="form-check-label" for="Bloemendaal">
        Bloemendaal
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input cruquius" type="checkbox" value="" name="cruquius" id="Cruquius">
        <label class="form-check-label" for="Cruquius">
        Cruquius
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input haarlem" type="checkbox" value="" name="haarlem" id="Haarlem">
        <label class="form-check-label" for="Haarlem">
        Haarlem
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input heemstede" type="checkbox" value="" name="heemstede" id="Heemstede">
        <label class="form-check-label" for="Heemstede">
        Heemstede
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input hillegom" type="checkbox" value="" name="hillegom" id="Hillegom">
        <label class="form-check-label" for="Hillegom">
        Hillegom
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input hoofddorp" type="checkbox" value="" name="hoofddorp" id="Hoofddorp">
        <label class="form-check-label" for="Hoofddorp">
        Hoofddorp
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input lisse" type="checkbox" value="" name="lisse" id="Lisse">
        <label class="form-check-label" for="Lisse">
        Lisse
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input nieuw-vennep" type="checkbox" value="" name="nieuw-vennep" id="Nieuw-Vennep">
        <label class="form-check-label" for="Nieuw-Vennep">
        Nieuw-Vennep
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input santpoort-noord" type="checkbox" value="" name="santpoort-noord" id="Santpoort-Noord">
        <label class="form-check-label" for="Santpoort-Noord">
        Santpoort-Noord
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input uithorn" type="checkbox" value="" id="Uithorn">
        <label class="form-check-label" for="Uithorn">
        Uithorn
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input zandvoort" type="checkbox" value="" id="Zandvoort">
        <label class="form-check-label" for="Zandvoort">
        Zandvoort
        </label>
    </div>
</div>
{% endblock %}