{% block location %}

<!-- checkbox needed for filtering listings with multiple choices -->
<div class="card-body">
    <div class="form-check">
        <input class="form-check-input aalsmeer" type="checkbox" value="" name="aalsmeer" id="aalsmeer">
        <label class="form-check-label" for="aalsmeer">
        Aalsmeer
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input badhoevedorp" type="checkbox" value="" name="badhoevedorp" id="badhoevedorp">
        <label class="form-check-label" for="badhoevedorp">
        Badhoevedorp
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input bloemendaal" type="checkbox" value="" name="bloemendaal" id="bloemendaal">
        <label class="form-check-label" for="bloemendaal">
        Bloemendaal
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input cruquius" type="checkbox" value="" name="cruquius" id="cruquius">
        <label class="form-check-label" for="cruquius">
        Cruquius
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input haarlem" type="checkbox" value="" name="haarlem" id="haarlem">
        <label class="form-check-label" for="haarlem">
        Haarlem
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input heemstede" type="checkbox" value="" name="heemstede" id="heemstede">
        <label class="form-check-label" for="heemstede">
        Heemstede
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input hillegom" type="checkbox" value="" name="hillegom" id="hillegom">
        <label class="form-check-label" for="hillegom">
        Hillegom
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input hoofddorp" type="checkbox" value="" name="hoofddorp" id="hoofddorp">
        <label class="form-check-label" for="hoofddorp">
        Hoofddorp
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input lisse" type="checkbox" value="" name="lisse" id="lisse">
        <label class="form-check-label" for="lisse">
        Lisse
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input nieuw-vennep" type="checkbox" value="" name="nieuw-vennep" id="nieuw-vennep">
        <label class="form-check-label" for="nieuw-vennep">
        Nieuw-Vennep
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input santpoort-noord" type="checkbox" value="" name="santpoort-noord" id="santpoort-noord">
        <label class="form-check-label" for="santpoort-noord">
        Santpoort-Noord
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input uithorn" type="checkbox" value="" id="uithorn">
        <label class="form-check-label" for="uithorn">
        Uithorn
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input zandvoort" type="checkbox" value="" id="zandvoort">
        <label class="form-check-label" for="zandvoort">
        Zandvoort
        </label>
    </div>
</div>
{% endblock %}