<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Family events and activities for kids in Haarlemmermeer and Haarlem, in English">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Anna Greaves">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css">
    <title>404 page not found | FamilyHub</title>
</head>

<body id="texture">
    <div id="backgroundImgWrapper" class="container-fluid">
        <div class="row no-gutters">
            <div id="errorPageColumn" class="col-12">
                <h1>404 - Page not found</h1>
                <hr>
                <h2>Oh! Looks like this page is <i>really</i> good at Hide and Seek!</h2>
                <p>Try the links below</p>
                <a href="{{ url_for('home_page') }}" class="btn btn-search my-2 mr-1 mr-sm-2">Home</a>
                <a href="{{ url_for('activities_page') }}" class="btn btn-readmore m-1 m-sm-2">Activities</a>
            </div>
            <img id="animation404" src="{{url_for('static', filename='animations/hide-and-seek.gif')}}" alt="hide and seek robot"/>
        </div>
    </div>
</body>

</html>