{% extends 'layout/base.html' %} {% block content %}
<div class="content no-fouc">

    <!-- Hero image -->
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 hero-img hero-activities">
            </div>
        </div>
    </div>

    <main>

        <!-- Section: activities -->
        <section>

            <div id="activities-page-wrapper" class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Activities</h1>
                        <hr>
                    </div>

                    <!--START: Activities search filters for MOBILE ONLY -->
                    {% include 'components/search_filters/activities_sm.html' %}

                    <!--START: Activities search filters for TABLETS + UP -->
                    {% include 'components/search_filters/activities_md.html' %}

                    <!--START: Activities search results -->
                    <div id="activity-results" class="col-md-8 col-lg-9">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 id="search-results">X results</h2>
                                <hr>
                            </div>

                            {% for activity in activities %}
                            <div class="col-12 col-sm-6 col-lg-4">
                                {% include 'components/cards/carousel_card.html' %}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h2 id="search-results">End of results</h2>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <!--END: Activities search results -->

                </div>
            </div>

        </section>

    </main>
</div>

{% endblock %}