{% extends 'layout/base.html' %} {% block content %}

<main>
    <!-- Section: activity listing -->
    <section>
        {% if preview == True %}
        <!-- preview bar shows when user has created a new activity and have not yet chosen to publish it -->
        <div id="preview-bar">
            <h1>Preview</h1>
            <p>This is a preview of how your activity listing will look on Family Hub. It is not published yet.</p>
            <strong>Click "Publish" button to confirm.</strong>
        </div>
        {% endif %}
        {% if newActivity %}
        <!-- publish sucess bar shows when user has just published their new activity -->
        <div id="publish-success" class="hide">
            <p class="hide">Your new activity has been published!</p>
            <i id="closeNotice" class="fas fa-times text-white fa-2x hide"></i>
        </div>
        {% endif %}
        <div id="activity-listing-wrapper" class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ activity.title }}</h1>
                    <hr>
                </div>
                <!-- activity image -->
                <div class="col-12 col-lg-6">
                    <div class="activity-listing-image">
                        <img class="listing-img" src="{{ activity.imgUrl }}" alt="{{activity.title}}"></img>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <!-- activity details -->
                    <div id="listing-details" class="row">

                        <!-- dates and age groups -->
                        <div class="col-6">

                            <!-- dates table -->
                            <h3><i class="far fa-calendar-alt icon"></i>Dates</h3>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            From:
                                        </td>
                                        <td>
                                            {{ startDate }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            To:
                                        </td>
                                        <td>
                                            {{ endDate }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- ages table -->
                            {% include 'components/listings/ages_table.html' %}

                        </div>

                        <!-- opening times table -->
                        <div class="col-6">
                            {% include 'components/listings/open_times.html' %}
                        </div>

                        <!-- contact -->
                        <div id="listing-contact-links" class="col-12 col-md-6">
                            {% include 'components/listings/contact.html' %}
                        </div>

                        <!-- social -->
                        <div id="listing-business-social-links" class="col-12 col-md-6">
                            {% include 'components/listings/social.html' %}
                        </div>
                    </div>
                </div>

                <!-- listing description -->
                <div class="col-12">
                    <h3>More info</h3>
                    {% for paragraph in description %}
                        {% for key, value in paragraph.items() %}
                            <p>{{ value }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>

                <!-- share this listing page on social media -->
                {% include 'components/listings/share.html' %}

                <div class="col-12 col-md-6 text-center text-md-left">
                    <a href="{{url_for('activities_page')}}" class="heading-btn btn btn-search">Search more activities</a>
                </div>
            </div>
        </div>

    </section>

</main>

{% endblock %}