{% extends 'base.html' %} {% block content %}

    <main>
        <!-- Section: Add new event -->
        <section>

            <div id="add-edit-event-wrapper" class="container">
                <div class="row p-2 justify-content-center">
                    <form>
                        <div class="col-12">
                            <h1>Add New Event</h1>
                            <hr>
                        </div>
                        {% include 'partials/forms/_add_edit_event.html' %}

                        <!-- margins line button edge up with filed above it -->
                        <button class="btn btn-search ml-4" type="submit">Preview</button>
                        <button class="btn btn-readmore ml-3" type="submit">Publish</button>
                        <button id="delete-button" class="btn btn-delete ml-3">Delete</button>
                    </form>
                </div>
            </div>

        </section>

    </main>

{% endblock %}