{% extends 'base.html' %} {% block content %}

    <main>
        <!-- Section: Edit activity. Auto populate this form with data from existing listing -->
        <section>

            <div id="add-edit-activity-wrapper" class="container">
                <div class="row p-2 justify-content-center">
                    <form>
                        <div class="col-12">
                            <h1>Edit Activity</h1>
                            <hr>
                        </div>
                        
                        {% include 'partials/forms/_add_edit_activity.html' %}
                        
                        <!-- margins line button edge up with filed above it -->
                        <button class="btn btn-search ml-4" type="submit">Preview</button>
                        <button class="btn btn-readmore ml-3" type="submit">Update</button>
                        <a href="#" id="delete-button" class="btn btn-delete ml-3">Delete</a>
                    </form>
                </div>
            </div>

        </section>

    </main>

{% endblock %}