{% extends 'layout/base.html' %} {% block content %}

    <main>
        <!-- Section: editor for activities -->
        <section>

            <div id="add-edit-activity-wrapper" class="container">
                <div class="row p-2 justify-content-center">
                    <form id="editorForm" method=POST >
                        <div class="col-12">
                            <h1>
                                {% if editor == 'new' %}Add New 
                                {% elif editor == 'edit' %}Edit
                                {% endif %} Activity 
                            </h1>
                            <hr>
                        </div>
                        
                        {% include 'components/forms/add_edit_activity.html' %}
                        
                        <!-- margins line button edge up with filed above it -->
                        <button id="editorSubmitBtn" class="btn btn-search ml-4 submit-js" type="submit">Preview</button>
                        <button id="delete-button" class="btn btn-delete ml-3">Delete</button>
                    </form>
                </div>
            </div>

        </section>

    </main>

{% endblock %}