{% extends 'layout/base.html' %} {% block content %}
{{ event }}


<main>
    <!-- Section: activity listing -->
    <section>
        {% if preview == True %}
        <div id="preview-bar">
            <h1>Preview</h1>
            <p>This is a preview of how your activity listing will look on Family Hub. It is not published yet.</p>
            <strong>Click "Publish" button to confirm.</strong>
        </div>
        {% endif %}

        <div id="event-listing-wrapper" class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ event.title }}</h1>
                    <hr>
                </div>
                <!-- event image -->
                <div class="col-12 col-lg-6">
                    <div class="event-listing-image">
                        <img class="listing-img" src="{{ event.imgUrl }}" alt="{{event.title}}"></img>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <!-- activity details -->
                    <div id="listing-details" class="row">

                        <!-- date and age groups -->
                        <div class="col-6">

                            <!-- date -->
                            <h3><i class="far fa-calendar-alt icon"></i>Date</h3>
                            <p class="mb-4">{{ date }}</p>

                            <!-- opening times table \ commented out to add at a later date -->
                            <!-- <h3><i class="fas fa-calendar-week icon"></i>Open times</h3>
                            <table class="table table-sm mb-4">
                                <thead>
                                    <tr>
                                        <th scope="col">Open</th>
                                        <th scope="col">Close</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>09:00</td>
                                        <td>18:00</td>
                                    </tr>
                                </tbody>
                            </table> -->

                            <!-- price info -->
                            <h3>Price:</h3>
                            {% if event.price.isFree == False %}
                            <p class="mb-4">From €{{ event.price.from }} per person</p>
                            {% else %}
                            <p class="mb-4">Free!</p>
                            {% endif %}

                        </div>
                        <div class="col-6">
                            <!-- ages table -->
                            {% include 'components/listings/ages_table.html' %}
                        </div>

                        <!-- contact -->
                        <div id="listing-contact-links" class="col-12 col-md-6">
                            {% include 'components/listings/contact.html' %}
                        </div>

                        <!-- social -->
                        <div id="listing-business-social-links" class="col-12 col-md-6">
                            {% if event.contact.facebook or event.contact.twitter or event.contact.instagram %}
                                {% include 'components/listings/social.html' %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- listing description -->
                <div class="col-12">
                    <h3>More info</h3>
                    <p>{{ description }}</p>
                </div>

                <!-- share this listing page on social media -->
                {% include 'components/listings/share.html' %}
                
                {% if preview == True %}
                <div class="col-12 col-md-6 text-center text-md-left">
                    <a href="#" class="heading-btn btn btn-create">Edit</a>
                    <a href="#" class="heading-btn btn btn-search ml-2">Publish</a>
                </div>                
                {% else %}
                <div class="col-12 col-md-6 text-center text-md-left">
                    <a href="{{url_for('events_page')}}" class="heading-btn btn btn-search">Search more events</a>
                </div>
                {% endif %}
            </div>
        </div>

    </section>

</main>

{% endblock %}