{% extends 'layout/base.html' %} {% block content %}
    <!-- Hero image -->
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 hero-img hero-events">
            </div>
        </div>
    </div>
    
    <main>
        <!-- Section: Events -->
        <section>

            <div id="events-page-wrapper" class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Events</h1>
                        <hr>
                    </div>

                    <!--START: Events search filters for MOBILE ONLY -->
                    {% include 'components/search_filters/events_sm.html' %}


                    <!--START: Event search filters for TABLETS + UP -->
                    {% include 'components/search_filters/events_md.html' %}

                    <!--START: events search results -->
                    <div id="events-results" class="col-md-8 col-lg-9">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 id="search-results">3 results</h2>
                                <hr>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                    {% include 'components/cards/event.html' %}
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                    {% include 'components/cards/event.html' %}
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                    {% include 'components/cards/event.html' %}
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h2 id="search-results">End of results</h2>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <!--END: Activities search results -->

                </div>
            </div>

        </section>

    </main>
{% endblock %}