<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Family events and activities for kids in Haarlemmermeer and Haarlem, in English">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Anna Greaves">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css">
    <title>Rebel | FamilyHub</title>
</head>
<body class="no-fouc">
    <div id="backgroundImgWrapper" class="container-fluid">
        <div id="backgroundImgPermission" class="row no-gutters">
            <div id="errorPageColumn" class="col-12 col-md-10 col-lg-8">
                <h1>Oi cheeky!</h1>
                <hr>
                <h2>You do not have permission to go to that page</h2>
                <p>Please log in or go back,<br>you rebel!</p>
                <a href="{{ url_for('login_page') }}" class="btn btn-search my-2 mr-2">Log in</a>
                <!-- Bug fix: Several solutions to get this button to move the user back to the page they were on previously
                did not work. Solution was to use inline script. -->
                <button id="#goBackBtn" type="button" onClick="javascript:history.go(-1)" class="btn btn-readmore m-2">Go Back</button>
            </div>
        </div>
    </div>
    <!-- Bootstrap scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <!-- Gijgo scripts for datepickers and timepickers scripts -->
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"></script>

    <!-- Project scripts -->
    <script src="{{url_for('static', filename='js/familyhub.js')}}"></script>
</body>
</html>