{% extends 'layout/base.html' %} {% block content %}

<main class="content no-fouc">
    <section id="privacy-policy" class="container">
        <div class="col-12">
            <h1>Privacy Policy & Cookie Usage</h1>
            <hr>
        </div>
        <div class="col-12">
            <p>This website is operated by Family Hub and whose registered address is
                Lindholm 19, 2133 CM Hoofddorp, The Netherlands. We are committed
                to protecting and preserving the privacy of our visitors when
                visiting our site or communicating electronically with us.</p>
            <p>This policy sets out how we process any personal data we collect from you or that you provide to us
                through our website. We confirm that we will keep your information secure and that we will comply fully
                with all applicable EU Data Protection legislation and regulations. Please read the following carefully
                to understand what happens to personal data that you choose to provide to us, or that we collect from
                you when you visit this site. By visiting our website you are accepting
                and consenting to the practices described in this policy.</p>

            <h3>Types of information we may collect from you</h3>
            <hr>
            <p>We may collect, store and use the following kinds of personal information about individuals who visit and
                use our website:</p>
            <p>Information you supply to us. You may supply us with information about you by filling in forms on our
                website. This includes information you provide when you submit a contact/enquiry form, or create a new
                activity listing for the Family Hub. The information you give us may include your name, address, e-mail
                address and phone number etc.</p>
            <p>Information our website automatically collects about you. With regard to each of your visits to our
                website we may automatically collect information including the following:</p>
            <ul>
                <li>- technical information, including a truncated and anonymised version of your Internet protocol (IP)
                    address, browser type and version, operating system and platform.</li>
                <lI>- information about your visit, including what pages you visit, how long you are on the site, how
                    you got to the site (including date and time); page response times, length of visit, what you click
                    on, documents downloaded and download errors.</lI>
            </ul>

            <h3>Disclosure of your information</h3>
            <hr>
            <p>Any information you provide to us will either be emailed directly to us or may be stored on a secure
                server located near Dublin within the Republic of Ireland. We use a trusted third party website and
                hosting provider (Cleverbox) to facilitate the running and management of this website. Cleverbox meet
                high data protection and security standards and are bound by contract to keep any information they
                process on our behalf confidential. Any data that may be collected through this website that Cleverbox
                process, is kept secure and only processed in the manner we instruct them to. Cleverbox cannot access,
                provide, rectify or delete any data that they store on our behalf without permission.</p>
            <p>We do not rent, sell or share personal information about you with other people or non-affiliated
                companies. </p>
            <p>We will use all reasonable efforts to ensure that your personal data is not disclosed to
                regional/national institutions and authorities, unless required by law or other regulations.</p>
            <p>Unfortunately, the transmission of information via the internet is not completely secure. Although we
                will do our best to protect your personal data, we cannot guarantee the security of your data
                transmitted to our site; any transmission is at your own risk. Once we have received your information,
                we will use strict procedures and security features to try to prevent unauthorised access.</p>

            <h3>Your rights – access to your personal data</h3>
            <hr>
            <p>You have the right to ensure that your personal data is being processed lawfully (“Subject Access
                Right”). Your subject access right can be exercised in accordance with data protection laws and
                regulations. Any subject access request must be made in writing to Family Hub, Lindholm 19, 2133CM
                Hoofddorp, The Netherlands. We will provide your personal data to you within the statutory time frames.
                To enable us to trace any of your personal data that we may be holding, we may need to request further
                information
                from you. If you have a complaint about how we have used your information, you have the right to
                complain to the Information Commissioner’s Office (ICO).</p>

            <h3>Changes to our privacy policy</h3>
            <hr>
            <p>Any changes we may make to our privacy policy in the future will be posted on this page and, where
                appropriate, notified to you by e-mail. Please check back frequently to see any updates or changes to
                our privacy policy.</p>

            <h2>Cookie Usage</h2>
            <hr>
            <p>When you visit Family Hub, we collect standard internet log information and
                details about the behaviour of visitors to our site. We do this to find out
                things such as the number of visitors to the various parts of our site and
                to provide you with a better experience. We collect this information in a
                way which does not personally identify you and we do not match it with any
                further data on an individual user.
            </p>
            <p>Cookies are small text files that are placed on your device to help our
                website provide a better user experience. Cookies are stored on your
                individual device and you have full control over their use.
            </p>
            <h3>How to change your cookie settings</h3>
            <hr>
            <p>You may deactivate or restrict the transmission of cookies by changing
                the settings of your web browser. Cookies that are already stored may be
                deleted at any time. To find out more about cookies and how to manage
                or delete them, visit
                <a href="//www.aboutcookies.org.uk" rel="noopener" target="_blank"
                    aria-label="visit www.aboutcookies.org.uk">www.aboutcookies.org.uk</a>.
            </p>
            <h3>Find out how to manage cookies on popular browsers:</h3>
            <hr>
            <ul>
                <li>
                    <a href="//support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en"
                        rel="noopener" target="_blank" aria-label="manage cookies on google chrome">Google Chrome
                    </a>
                </li>
                <li>
                    <a href="//support.microsoft.com/en-gb/help/4468242/microsoft-edge-browsing-data-and-privacy-microsoft-privacy"
                        rel="noopener" target="_blank" aria-label="manage cookies on Microsoft Edge">Microsoft Edge
                    </a>
                </li>
                <li>
                    <a href="//blog.mozilla.org/security/2018/10/23/firefox-63-lets-users-block-tracking-cookies/"
                        rel="noopener" target="_blank" aria-label="manage cookies on Firefox">Firefox
                    </a>
                </li>
                <li>
                    <a href="//support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies"
                        rel="noopener" target="_blank" aria-label="manage cookies on Internet Explorer">Internet
                        Explorer
                    </a>
                </li>
                <li>
                    <a href="//support.apple.com/en-gb/guide/safari/sfri11471/mac" rel="noopener" target="_blank"
                        aria-label="manage cookies on Safari">Safari
                    </a>
                </li>
            </ul>
            <p>To find information relating to other browsers, visit the browser developer’s website.</p>
            <p>To opt out of being tracked by Google Analytics across all websites, click
                <a href="http://tools.google.com/dlpage/gaoptout" target="_blank" rel="noopener"
                    aria-label="opt out of being tracked by Google Analytics">here</a>.</p>
            <p>If you choose to disable cookies, you may not be able to use all the features on our website.</p>
            <h3>Google Analytics</h3>
            <hr>
            <p>Like many websites, we use Google Analytics to collect information about visitor behaviour, such as the
                number
                of visitors to the various parts of our website. We do this to compile reports that help us improve our
                site.
                Google Analytics stores information about what pages you visit, how long you are on the site, how you
                got here,
                what documents you download and what you click on. This analytics data is not tied to personally
                identifiable
                information (e.g. your name or address) so this information cannot be used to identify who you are.</p>
            <p>You can find more detailed information about the Google Analytics Cookies by clicking
                <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage"
                    target="_blank" rel="noopener" aria-label="visit google cookie usage website">here</a>
            </p>
            <p>You can find out more about Google’s position on data privacy as regards to its analytics service,
                including information about the Google Analytics opt-out browser add-on in the Privacy Controls
                section click <a href="//www.support.google.com/analytics/answer/6004245" target="_blank" rel="noopener"
                    aria-label="visit google cookie usage website">here</a>.</p>

        </div>


    </section>


</main>

{% endblock %}