{% extends 'layout/base.html' %} {% block content %}
<div class="content no-fouc">
    <!-- Hero image -->
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 hero-img hero-search">
            </div>
        </div>
    </div>
    
    <main>
        <!-- Section: Recommended -->
        <section>

            <div id="search-page-wrapper" class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Search</h1>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <form class="text-center">
                            <input id="searchInput" class="form-control mx-auto search-input-field" type="search" placeholder="What are you looking for?" aria-label="Search">
                            <button id="search-page-search-button" class="btn btn-search" type="submit">
                                Search
                            </button>
                        </form>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 id="search-results">3 results</h2>
                        <hr>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        {% include 'components/cards/activity.html' %}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        {% include 'components/cards/activity.html' %}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        {% include 'components/cards/activity.html' %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 id="search-results">End of results</h2>
                        <hr>
                    </div>
                    <div class="col-12 text-center">
                        <a href="{{url_for('activities_page')}}" class="btn btn-search mr-1 mr-md-3">Search More Activities</a>
                    </div>
                </div>
            </div>

        </section>

    </main>
</div>
{% endblock %}