{% extends 'layout/base.html' %} {% block content %}
<div class="content no-fouc">
    <!-- Hero image -->
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 hero-img hero-search">
            </div>
        </div>
    </div>

    <main>
        <!-- Section: Recommended -->
        <section>

            <div id="search-page-wrapper" class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Search</h1>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <form class="text-center">
                            <input id="searchInput" class="form-control mx-auto search-input-field" type="search"
                                placeholder="What are you looking for?" aria-label="Search">
                            <button id="search-page-search-button" class="btn btn-search" type="submit">
                                Search
                            </button>
                        </form>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 id="search-results">{{numResults}} results</h2>
                        <hr>
                    </div>
                    {% for result in results %}
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                        <div class="card familyhub-card">
                            <div class="card-img-wrapper">
                                <!-- Inline style used here for ease of placing background image with JS -->
                                <div class="card-picture" title="{{ result.title }}"
                                    style="background-image: url({{result.imgUrl}})">
                                    <div class="location-text">{{ result.address.town }}</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-title-wrapper">
                                    <h4 class="card-title">{{result.title}}</h4>
                                </div>
                                <div class="card-text-wrapper">
                                    <p class="card-text">{{result.shortDescription}}...</p>
                                </div>
                                <a class="readmore-link" href="{{ url_for('activity_listing_page', title=result['title'], activity_id=result['_id'])}}">Read More <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% if numResults == 0 %}
                    <div class="col-12">
                        <p>No matching results for your search</p>
                    </div>
                    {% endif %}
                    
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 id="search-results">End of results</h2>
                        <hr>
                    </div>
                    <div class="col-12 text-center">
                        <a href="{{url_for('activities_page')}}" class="btn btn-search mr-1 mr-md-3">Search activities
                            with filters</a>
                    </div>
                </div>
            </div>

        </section>

    </main>
</div>
{% endblock %}