{% block open_times %}

<h3><i class="fas fa-calendar-week icon"></i>Open times</h3>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Day</th>
            <th scope="col">Open</th>
            <th scope="col">Close</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Mon</th>
            <td>15:15</td>
            <td>18:00</td>
        </tr>
        <tr>
            <th scope="row">Tue</th>
            <td>15:15</td>
            <td>18:00</td>
        </tr>
        <tr>
            <th scope="row">Wed</th>
            <td colspan="2">Closed</td>
        </tr>
        <tr>
            <th scope="row">Thu</th>
            <td>15:15</td>
            <td>18:00</td>
        </tr>
        <tr>
            <th scope="row">Fri</th>
            <td>15:15</td>
            <td>18:00</td>
        </tr>
        <tr>
            <th scope="row">Sat</th>
            <td colspan="2">Closed</td>
        </tr>
        <tr>
            <th scope="row">Sun</th>
            <td colspan="2">Closed</td>
        </tr>
    </tbody>
</table>

{% endblock %}