{% block social %}

<div id="listing-contact-links" class="col-12 col-md-6">
        <h3>Contact</h3>
        <table>
            <tbody>
                <tr>
                    <td>
                        <i class="fas fa-map-marker-alt icon"></i>
                    </td>
                    <td>
                        Bartholomeus Ruloffstraat 9, 1071 WJ Amsterdam
                        </th>
                </tr>
                <tr>
                    <td>
                        <i class="fas fa-globe-europe icon"></i>
                        </th>
                        <td>
                            <a class="fh-link" href="#" aria-label="This activity website link">
                            www.dummywebsite.nl
                        </a>
                        </td>
                </tr>
                <tr>
                    <td>
                        <i class="fas fa-at icon"></i>
                        </th>
                        <td>
                            <a class="fh-link" href="#" aria-label="Email this activity">
                        dummy@emailaddress.com
                        </a>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="listing-business-social-links" class="col-12 col-md-6">
        <h3>Social</h3>
        <ul>
            <li>
                <a href="#" target="_blank" aria-label="Find this business on Facebook" rel="noopener">
                    <i class="fab fa-facebook social-icon-shadow"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" aria-label="Find this business on Twitter" rel="noopener">
                    <i class="fab fa-twitter social-icon-shadow"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank" aria-label="Find this business on Instagram" rel="noopener">
                    <i class="fab fa-instagram social-icon-shadow"></i>
                </a>
            </li>
        </ul>
    </div>

{% endblock %}