{% block social %}

<h3>Social</h3>
<ul>
    <li>
        <a href="#" target="_blank" aria-label="Find this business on Facebook" rel="noopener">
            <i class="fab fa-facebook social-icon-shadow"></i>
        </a>
    </li>
    <li>
        <a href="#" target="_blank" aria-label="Find this business on Twitter" rel="noopener">
            <i class="fab fa-twitter social-icon-shadow"></i>
        </a>
    </li>
    <li>
        <a href="#" target="_blank" aria-label="Find this business on Instagram" rel="noopener">
            <i class="fab fa-instagram social-icon-shadow"></i>
        </a>
    </li>
</ul>

{% endblock %}