/* ------------------------------
    Buttons
------------------------------ */

.btn {
    font-weight: 500;
}

.btn-readmore {
    background-color: $light-blue;
    border: 1px solid $light-blue;
    color: #fff;
    transition: all 0.3s ease-in-out 0.3s;
}

.btn-readmore:hover {
    background-color: $mid-blue;
    border: 1px solid $mid-blue;
    color: #fff;
}

.btn-search {
    color: #fff;
    background-color: $terracotta;
    border: $terracotta;
    opacity: 0.8;
    transition: all 0.3s ease-in-out 0.3s;
}

/* changes default btn outline to one that matches this buttons custom colour */
.btn-search:focus {
    box-shadow: 0 0 0 .2rem rgba(237, 106, 90,.25);
}

.btn-search:hover {
    opacity: 1;
    color: #fff;
}

.btn-create {
    background-color: $green;
    border: $green;
    opacity: 0.7;
    color: #fff;
    transition: all 0.3s ease-in-out 0.3s;
}

.btn-create:hover {
    opacity: 1;
    color: #fff;
}

.btn-create:focus {
    box-shadow: 0 0 0 .2rem rgba(148, 182, 89,.25);
}

.btn-delete {
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #fff;
    transition: all 0.3s ease-in-out 0.3s;
}

.btn-delete:hover {
    background-color: #c0303e;
    border: 1px solid #c0303e;
    color: #fff;
}

.btn-delete:focus {
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69,.25);
}

.icon-circle {
    height: 48px;
    width: 48px;
    background-color: $dark-blue;
    border-radius: 50%;
    position: relative;
}

.fa-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.search-input-field {
    display: inline;
}

#search-page-search-button {
    margin-bottom: 4px;
    margin-top: 1rem;
}

.heading-btn {
    margin-top: 2.7rem;
}

/* credit: code for floating buttons taken from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp 
and edited slightly to fit project needs */

#to-top-btn {
    position: fixed;
    bottom: 15px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    color: $terracotta;
    opacity: 0;
    background-color: transparent;
    transition: all 0.5s ease-in-out 0.2s;
}

/* positions search icon above to top button */

#search-btn {
    position: fixed;
    bottom: 75px;
    right: 5px;
    z-index: 99;
    border: none;
    outline: none;
    color: $dark-blue;
    background-color: transparent;
    /* button hidden and inactive until user starts to scroll, 
    then js adds active class to it */
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out 0.2s;
}

#search-btn.active,
#to-top-btn.active {
    pointer-events: auto;
    opacity: 0.5;
}

#search-btn.active:hover,
#to-top-btn.active:hover {
    opacity: 1;
}

/* overrides timepicker border css from gijgo css that did not match datepicker */
.btn-outline-secondary {
    border: 1px solid #ced4da;
}