/* ------------------------------
    Icons
------------------------------ */

/* adds spacing between icons and headings */
.icon {
    margin-right: 1rem;
}

.icon-sm {
    margin-left: 0.75rem;
}

.fa-chevron-right,
.fa-chevron-left {
    font-size: 2.5rem;
}

.social-icon-shadow {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.social-icons-footer a {
    display: inline;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.fab {
    color: #ffffff;
    -o-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
}

/* UX feature, social icons grow and change colour when hovered over */

.fab:hover {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    transform: scale(1.4);
}

.fa-instagram:hover {
    color: #fbad50;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #38A1F3;
}

.custom-calendar-icon {
    width: 60px;
    text-align: center;
    font-family: $capitalized-heading;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: -30px;
    margin-left: 10px;
    border-radius: 5px;
}

.display-month {
    height: 20px;
    background-color: $terracotta;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px 5px 0 0;
}

.display-day {
    height: 40px;
    background-color: #fff;
    color: $terracotta;
    font-size: 25px;
    border-radius: 0 0 5px 5px;
}

.fa-times {
    color: $terracotta;
}

.fa-check {
    color: $green;
}