@import url("https://fonts.googleapis.com/css?family=Delius|News+Cycle|Patrick+Hand+SC:400,500,700,900&display=swap");
/* ------------------------------
    Variables
------------------------------ */
/* ------------------------------
    Fonts
------------------------------ */
.navbar {
  font-family: "Delius", cursive;
}

body {
  font-family: "News Cycle", sans-serif;
  color: #000034;
}

h1,
h2 {
  font-family: "Delius", cursive;
  color: #ed6a5a;
  margin-top: 2.5rem;
  text-transform: capitalize;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

footer h3,
footer h4 {
  font-family: "News Cycle", sans-serif;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  margin-top: 1rem;
}

#search-results {
  font-family: "News Cycle", sans-serif;
  font-size: 1.8rem;
  color: #000034;
}

.bold {
  font-weight: 700;
}

/* ------------------------------
    Buttons
------------------------------ */
.btn {
  font-weight: 500;
  text-transform: capitalize;
}

.btn-readmore {
  background-color: #5ca4a9;
  border: 1px solid #5ca4a9;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out 0.3s;
}

.btn-readmore:hover {
  background-color: #346861;
  border: 1px solid #346861;
  color: #fff;
}

.btn-search {
  color: #fff;
  background-color: #ed6a5a;
  border: #ed6a5a;
  -webkit-transition: all 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out 0.3s;
}

/* changes default btn outline to one that matches this buttons custom colour */
.btn-search:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(237, 106, 90, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(237, 106, 90, 0.25);
}

.btn-search:hover {
  background-color: #e7422e;
  border: #e7422e;
  color: #fff;
}

#search-modal-close-button,
#search-modal-submit-button {
  margin-top: 1rem;
  text-align: center;
}

.btn-create {
  background-color: #94b659;
  border: 1px solid #94b659;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out 0.3s;
}

.btn-create:hover {
  background-color: #687d44;
  border: 1px solid #687d44;
  color: #fff;
}

.btn-create:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(148, 182, 89, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(148, 182, 89, 0.25);
}

.btn-delete {
  background-color: #dc3545;
  border: 1px solid #dc3545;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out 0.3s;
}

.btn-delete:hover {
  background-color: #c0303e;
  border: 1px solid #c0303e;
  color: #fff;
}

.btn-delete:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.icon-circle {
  height: 48px;
  width: 48px;
  background-color: #000034;
  border-radius: 50%;
  position: relative;
}

.fa-search {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}

.search-input-field {
  display: inline;
}

#search-page-search-button {
  margin-bottom: 4px;
  margin-top: 1rem;
}

.heading-btn {
  margin-top: 2.7rem;
}

/* credit: code for floating buttons taken from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp 
and edited slightly to fit project needs */
#to-top-btn {
  position: fixed;
  bottom: 15px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ed6a5a;
  opacity: 0;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
}

/* positions search icon above to top button */
#search-btn {
  position: fixed;
  bottom: 75px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  color: #000034;
  background-color: transparent;
  /* button hidden and inactive until user starts to scroll, 
    then js adds active class to it */
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
}

#search-btn.active,
#to-top-btn.active {
  pointer-events: auto;
  opacity: 0.5;
}

#search-btn.active:hover,
#to-top-btn.active:hover {
  opacity: 1;
}

/* overrides timepicker border css from gijgo css that did not match datepicker */
.btn-outline-secondary {
  border: 1px solid #ced4da;
}

/* ------------------------------
    Icons
------------------------------ */
/* adds spacing between icons and headings */
.icon {
  margin-right: 1rem;
}

.icon-sm {
  margin-left: 0.75rem;
}

/* chevrons for carousels */
.fa-chevron-right,
.fa-chevron-left {
  font-size: 2.5rem;
}

.social-icon-shadow {
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.8);
}

footer .social-icon-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.social-icons-footer a {
  display: inline;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.fab {
  color: #ffffff;
  transition: all 0.2s ease-in-out 0.2s;
  -moz-transition: all 0.2s ease-in-out 0.2s;
  -webkit-transition: all 0.2s ease-in-out 0.2s;
}

/* UX feature, social icons grow and change colour when hovered over */
.fab:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.fa-instagram:hover,
#listing-business-social-links .fa-instagram:hover {
  color: #fbad50;
}

.fa-facebook:hover,
#listing-business-social-links .fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover,
#listing-business-social-links .fa-twitter:hover {
  color: #38A1F3;
}

/* creates custom calendar icon for event listing cards
and positions it floating over the bottom right edge
of the listing image */
.custom-calendar-icon {
  width: 47px;
  text-align: center;
  font-family: "Patrick Hand SC", cursive;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: -30px;
  margin-left: 80%;
  border-radius: 5px;
}

.display-month {
  height: 17px;
  background-color: #e7422e;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 5px 5px 0 0;
}

.display-day {
  height: 30px;
  background-color: #fff;
  color: #e7422e;
  font-size: 20px;
  border-radius: 0 0 5px 5px;
}

/* adjust height of card body under custom calendar icon 
so that it is inline with activity cards that have no calendar icon */
.custom-calendar-icon ~ .card-body {
  padding-top: 3.5px;
}

/* check and cross icons for clearly showing what ages groups 
each listing is for */
.fa-times {
  color: #ed6a5a;
}

.fa-check {
  color: #94b659;
}

#listing-business-social-links .fab,
#social-share-icons .fab {
  color: #000034;
  font-size: 2rem;
}

/* settings icon for account settings page */
.fa-cog {
  font-size: 2.5rem;
  color: slategrey;
  -webkit-transition: all 0.2s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out 0.2s;
}

.fa-cog:hover {
  font-size: 2.5rem;
  color: #000034;
}

/* ------------------------------
    Carousels
------------------------------ */
/* works with js to slow carousels down. 
Credit: https://stackoverflow.com/questions/17332431/how-can-i-control-the-speed-that-bootstrap-carousel-slides-in-items/18633703 */
.carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  -webkit-transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

.carousel-chevron {
  color: #9b997a;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

/* ------------------------------
    Modals
------------------------------ */
#search-modal,
#delete-warning-modal,
#newUserConfirmModal,
#userExistsModal,
#loggedInModal,
#alertModal {
  height: 100vh;
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  opacity: 0;
  /* makes modal background darker but still has transparency 
    stops content inside this element also being transparent, 
    which was what was happening when using opacity */
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
}

#search-modal.active,
#delete-warning-modal.active,
#newUserConfirmModal.active,
#userExistsModal.active,
#loggedInModal.active,
#alertModal.active {
  pointer-events: auto;
  opacity: 1;
}

.modal-content-box {
  max-width: 550px;
  min-height: 300px;
  margin-top: 30vh;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  /* Credit: code for box shadow taken from https://codepen.io/sdthornton/pen/wBZdXq */
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#delete-warning-modal h3,
#userExistsModal h3 {
  font-family: "Patrick Hand SC", cursive;
  color: #ed6a5a;
  text-align: center;
}

#delete-warning-modal p {
  font-size: 1.5rem;
  color: #e7422e;
}

.search-input-field {
  width: 100%;
}

/* ------------------------------
    Search filters
------------------------------ */
.filter-heading {
  margin: 0;
  font-family: "News Cycle", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #5ca4a9;
}

.filter-heading-button {
  font-family: "News Cycle", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
  color: #5ca4a9;
  /* overriding bootstrap css */
  text-decoration: none;
}

.filter-heading-button:hover {
  color: #000034;
  text-decoration: none;
}

.btn-link:focus {
  text-decoration: none;
  color: #000034;
}

/* to stop datepicker stretching too far out */
.gj-datepicker {
  max-width: 215px;
}

/* Forces user to use datepicker and removes ability to type input into date field */
#eventFilterDatepickerSm,
#eventFilterDatepickerLg {
  pointer-events: none;
}

/* ------------------------------
    Cards
------------------------------ */
.familyhub-card {
  margin-bottom: 1rem;
  /* CREDIT: Code for box shadow taken from https://codepen.io/sdthornton/pen/wBZdXq */
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.familyhub-card:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.familyhub-card-header {
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.familyhub-card-header-no-button {
  padding: 0.7rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.filter-options {
  color: #000034;
}

#search-page-wrapper .familyhub-card {
  margin-bottom: 2rem;
}

#my-account-wrapper .familyhub-card {
  margin-top: 2.5rem;
}

.inactive {
  opacity: 0.5;
}

p.expired {
  color: #000034;
  font-size: 0.75rem;
  display: inline-block;
  margin-left: 0.25rem;
}

/* ------------------------------
    All pages
------------------------------ */
#nav-logo {
  width: 30px;
  height: 30px;
}

.dropdown-menu {
  color: rgba(0, 0, 0, 0.7);
}

.dropdown-divider {
  border-top: 0.5px solid #bfbfbf;
}

/* !important needed here to override more specific heading colours in _listings.scss */
a {
  -webkit-transition: all 0.2s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out 0.2s;
}

a:hover {
  text-decoration: none;
}

/* ------------------------------
    Background colours
------------------------------ */
.bg-platinum {
  background-color: #e6ebe0;
}

/* ------------------------------
    Containers
------------------------------ */
.container-fluid,
.row {
  padding: 0;
}

hr {
  border-top: 2px solid #5ca4a9;
  opacity: 0.5;
}

footer hr {
  border-top: 2px solid #e6ebe0;
  opacity: 0.5;
}

/* ------------------------------
    Background images
------------------------------ */
.hero-img {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-home {
  background-image: url("https://i.ibb.co/744CXN6/painthands.jpg");
  background-position: center;
}

.hero-search {
  background-image: url("https://i.ibb.co/y8bx9BL/kidswim.jpg");
  background-position: center;
}

.hero-activities {
  background-image: url("https://i.ibb.co/9VkHCkq/pumpkin.jpg");
  background-position: center 20%;
}

.hero-events {
  background-image: url("https://i.ibb.co/Z2mFv47/festival.jpg");
  background-position: center 90%;
}

#backgroundImg404Wrapper {
  height: 100vh;
  width: 100vw;
}

#backgroundImg404 {
  background-image: url("https://i.ibb.co/x7qBFvB/stop-sm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 90%;
  background-attachment: fixed;
  height: 100%;
}

/* positions text in the middle of the hero image, 
shadow added to give depth and contrast with the image for readability */
.hero-img-tagline {
  font-family: "Patrick Hand SC", cursive;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%;
}

.about-pic-wrapper {
  width: 100px;
  height: 100px;
  margin: 1rem;
}

.about-pic {
  background-image: url("../img/anna.jpg");
  background-size: cover;
  height: 100%;
  border-radius: 50%;
}

/* ------------------------------
    404 page
------------------------------ */
#page404-column {
  padding: 2rem 2rem;
}

#page404-column h1 {
  margin-top: 0.5rem;
}

#page404-column h2 {
  font-family: "News Cycle", sans-serif;
  color: #346861;
  text-transform: none;
  margin-bottom: 1.5rem;
}

/* ------------------------------
    Account pages
------------------------------ */
#my-account-wrapper h2,
#my-account-wrapper h1 {
  /* Needed to make buttons in same column display correctly */
  display: inline-block;
}

/* ------------------------------
    Footer
------------------------------ */
footer {
  background-color: #346861;
  color: white;
  margin-top: 3rem;
}

footer p,
footer a {
  margin-bottom: 0.3rem;
  color: #e6ebe0;
  display: block;
}

footer h4 {
  margin-top: auto;
}

footer a {
  color: #e6ebe0;
  -webkit-transition: all 0.5s ease-in-out 0.1s;
  transition: all 0.5s ease-in-out 0.1s;
}

footer a:hover {
  text-decoration: none;
  color: #fff;
}

.copyright,
.social-icons-footer {
  margin-bottom: 2rem;
}

/* scroll behavior, adds smooth scrolling when 
jumping to different parts of the same page */
html {
  scroll-behavior: smooth;
}

/* ------------------------------
    Listing pages
------------------------------ */
.listing-img {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 8px;
  /* CREDIT: Code for box shadow taken from https://codepen.io/sdthornton/pen/wBZdXq */
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

#activity-listing-wrapper h3,
#event-listing-wrapper h3 {
  font-family: "News Cycle", sans-serif;
  font-size: 1.1rem;
  color: #ed6a5a;
  text-transform: uppercase;
}

#listing-details p {
  margin-bottom: 0.5rem;
}

#listing-details li,
#listing-contact-links li {
  margin-bottom: 0.3rem;
}

#listing-contact-links h5 {
  font-family: "Patrick Hand SC", cursive;
  font-size: 1.2rem;
  color: #000034;
}

#listing-contact-links i {
  font-size: 1.2rem;
}

#listing-business-social-links li,
#social-share-icons li,
#social-share-icons h3 {
  display: inline;
  margin-right: 0.5rem;
}

#social-share-icons ul {
  margin-top: 1rem;
}

table {
  margin-bottom: 1rem;
}

td {
  padding-right: 0.5rem;
}

/* ------------------------------
    Forms
------------------------------ */
a.fh-link,
#contact-wrapper a {
  color: #5ca4a9;
  -webkit-transition: all 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out 0.3s;
}

#contact-wrapper a:hover,
a.fh-link:hover {
  color: #346861;
}

#create-account-wrapper h3,
#login-wrapper h3,
#account-settings-wrapper h3,
#add-edit-activity-wrapper h3,
#add-edit-event-wrapper h3,
#contact-wrapper h3 {
  font-size: 1.2rem;
  color: #5ca4a9;
  margin-bottom: 1.2rem;
  text-transform: capitalize;
}

#login-wrapper h3 {
  text-transform: none;
}

#account-settings-wrapper h3 {
  margin-bottom: 0.5rem;
}

#create-account-wrapper label,
#login-wrapper label {
  color: #ed6a5a;
}

.form-row {
  margin-right: 5px;
  margin-left: 5px;
}

/* forces users to use the date/time pickers instead of adding their own input */
.no-click {
  pointer-events: none;
}

/* positions checkbox and labels for weekday open + close times in the form
% used to make position responsive */
.weekday-checkbox {
  /* set to 50% in media queries for medium screens and up */
  margin-left: 3%;
}

.weekday-checkbox-label {
  /* set to 75% in media queries for medium screens and up */
  padding-left: 50%;
}

.weekday-checkbox-row-top {
  padding-top: 2.35rem;
}

.weekday-checkbox-row {
  padding-top: 0.4rem;
}

.add-listing-image {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.add-listing-image:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

input.no-click {
  margin-bottom: 0;
}

.form-control {
  max-width: 350px;
}

/* widen width of fields in desired places */
#contactMessage,
#add-edit-event-wrapper textarea,
#add-edit-activity-wrapper textarea,
#activity_description,
#accountId,
#imgUrl,
#searchInput,
#login-wrapper input,
#account-settings-wrapper input {
  max-width: 100%;
}

#add-edit-event-wrapper .form-check.radio {
  display: block;
}

/* customizes bootstrap on-off switches to project brand colour */
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #5ca4a9;
  background-color: #5ca4a9;
}

/* ------------------------------
    Media Queries
------------------------------ */
/* small size screens and up */
@media screen and (min-width: 576px) {
  /* keeps search bar and search button in one line */
  .search-input-field {
    width: 75%;
  }
  #search-page-search-button {
    /* keeps search bar and search button in one line */
    margin-top: 0;
  }
}

/* medium size screens and up */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  .fa-chevron-right,
  .fa-chevron-left {
    font-size: 4rem;
  }
  /* creates more space around carousel controls */
  .carousel-control-prev,
  .carousel-control-next {
    width: 15%;
  }
  /* adds more spacing around floating button */
  #to-top-btn {
    right: 30px;
    bottom: 30px;
  }
  #search-btn {
    right: 30px;
    bottom: 100px;
  }
  .search-input-field {
    /* keeps search bar and search button in one line */
    width: 80%;
  }
  /* positions checkbox and labels for weekday open + close times in the form
    % used to make position responsive */
  .weekday-checkbox {
    margin-left: 50%;
  }
  .weekday-checkbox-label {
    padding-left: 75%;
  }
  #backgroundImg404 {
    background-image: url("https://i.ibb.co/0hykW4m/stop.jpg");
    background-position: 90% 90%;
  }
  #page404-column {
    padding: 5rem 5rem;
  }
  #page404-column h1 {
    margin-top: auto;
  }
}
/*# sourceMappingURL=main.css.map */