@import url('https://fonts.googleapis.com/css?family=Delius|News+Cycle|Patrick+Hand+SC:400,500,700,900&display=swap');

// VARIABLES 

// fonts
$main-text: 'News Cycle', sans-serif;
$heading: 'Delius', cursive;
$capitalized-heading: 'Patrick Hand SC', cursive;

// colours 
$platinum: #e6ebe0;
$terracotta: #ed6a5a;
$blond: #f4f1bb;
$light-blue: #9bc1bc;
$mid-blue: #5ca4a9;
$dark-blue: #000034;

/* Fonts */

body {
    font-family: $main-text;
    color: $dark-blue;
}

h1, h2 {
    font-family: $heading;
    color: $terracotta;
    font-size: 1.8rem;
    margin-top: 2.5rem;
}

footer h3,
footer h4 {
    font-family: $main-text;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    margin-top: 1rem;
}

.navbar {
    font-family: $heading;
}

/* ICONS */

.fa-chevron-right,
.fa-chevron-left {
    font-size: 2.5rem;
}

.social-icon-shadow{
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.social-icons-footer a {
    display: inline;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.fab{
    color: #ffffff; 
    -o-transition: all 0.2s ease-in-out 0.2s; 
    transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
}

/* UX feature, social icons grow and change colour when hovered over */
.fab:hover{
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
}
  
.fa-instagram:hover{
    color: #fbad50;
} 

.fa-facebook:hover{
    color: #3b5998;
}

.fa-twitter:hover{
    color: #38A1F3;
}

/* BUTTONS */

.btn {
    font-weight: 500;
}

.btn-readmore {
    background-color: $light-blue;
    border: $light-blue;
    color: #fff;
}

.btn-readmore:hover {
    background-color: $mid-blue;
    border: $mid-blue;
    color: $platinum;
}

.btn-search {
    color: #fff;
    background-color: $terracotta;
    border: $terracotta;
    opacity: 0.8;
}

.btn-search:hover {
    opacity: 1;
    color: #fff;
}

.heading-btn {
    margin-top: 2.7rem;
}

/* credit: code for floating buttons taken from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp 
and edited slightly to fit project needs */
#to-top-btn {
    display: none; 
    position: fixed; 
    bottom: 15px; 
    right: 5px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    cursor: pointer;
    color: $terracotta;
    opacity: 0.5;
    background-color: transparent;
    transition: all 0.5s ease-in-out 0.1s;
}

#to-top-btn:hover {
    opacity: 1;
}

/* positions search icon above to top button */
#search-btn {
    display: none; 
    position: fixed; 
    bottom: 75px; 
    right: 5px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    cursor: pointer;
    color: $dark-blue;
    opacity: 0.5;
    background-color: transparent;
    transition: all 0.5s ease-in-out 0.1s;
}

#search-btn:hover {
    opacity: 1;
}

/* BACKGROUND COLOURS */

.bg-platinum {
    background-color: $platinum;
}

/* CONTAINERS */

.container-fluid,
.row {
    padding: 0;
}

hr {
    border-top: 2px solid $dark-blue;
    opacity: 0.5;
}

footer hr {
    border-top: 2px solid $platinum;
    opacity: 0.5;
}

/* BACKGROUND IMAGES */

.hero-img{
    height: 400px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.hero-home{
    background-image: url("https://i.ibb.co/744CXN6/painthands.jpg");
    background-position: center;
}

/* positions text in the middle of the hero image, 
shadow added to give depth and contrast with the image for readability */
.hero-img-tagline {
    font-family: $capitalized-heading;
    color: #fff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
    position: absolute;
    left: 0;
    bottom: 5%;
    width: 100%;
}

.about-pic-wrapper {
    width: 100px;
    height: 100px;
    margin: 1rem;
}

.about-pic {
    background-image: url("../images/anna.jpg");
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

/* CAROUSELS */

.carousel-chevron {
    color: $blond;
}

.carousel-control-prev, 
.carousel-control-next {
    width: 10%;
}

/* FOOTER */

footer {
    background-color: $mid-blue;
    color: white;
    margin-top: 3rem;
}

footer p,
footer a {
    margin-bottom: 0.3rem;
    color: $platinum;
    display: block;
}

footer h4 {
    margin-top: auto;
}

footer a {
    color: $platinum;
    transition: all 0.5s ease-in-out 0.1s;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

.copyright,
.social-icons-footer {
    margin-bottom: 2rem;
}

/* MODALS */
#search-modal {
    display: none; 
    height: 100vh;
    position: fixed;
    z-index: 100;
    bottom: 0; 
    right: 0; 
    /* makes modal background darker but still has transparency 
    stops content inside tihs element also being transparent, 
    which was what was happening when using opacity */
    background-color: rgba(0,0,0,0.4);
    transition: all 0.5 linear;
}


.search-modal-content-box {
    max-width: 550px;
    height: 300px;
    margin: 4rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    /* Credit: code for box shadow taken from https://codepen.io/sdthornton/pen/wBZdXq */
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#search-input-field {
    width: 100%;
}

#search-modal-submit-button {
    margin-top: 1rem;
    text-align: center;
}

/* scroll behaviour, adds smooth scrolling when 
jumping to different parts of the same page */

html {
    scroll-behavior: smooth;
}

/* MEDIA QUERIES */

/* small size screens and up */
@media screen and (min-width: 576px) {
    /* keeps search bar and search button in one line */
    #search-input-field {
        width: 75%;
    }
}

/* medium size screens and up */
@media screen and (min-width: 768px) {
    h1, 
    h2 {
        font-size: 2.5rem;
    }
    
    .fa-chevron-right,
    .fa-chevron-left {
        font-size: 4rem;
    }
    /* creates more space around carousel controls */
    .carousel-control-prev, 
    .carousel-control-next {
        width: 15%;
    }
    /* adds more spacing around floating button */
    #to-top-btn {
        right: 30px; 
        bottom: 30px;
    }
    
    #search-btn {
        right: 30px; 
        bottom: 100px;
    }
    #search-input-field {
        /* keeps search bar and search button in one line */
        width: 80%;
    }
}
