@import url('https://fonts.googleapis.com/css?family=Delius|News+Cycle|Patrick+Hand+SC&display=swap');

// VARIABLES 

// fonts
$main-text: 'News Cycle', sans-serif;
$heading: 'Delius', cursive;
$capitalized-heading: 'Patrick Hand SC', cursive;

// colours 
$platinum: #e6ebe0;
$terracotta: #ed6a5a;
$blond: #f4f1bb;
$light-blue: #9bc1bc;
$mid-blue: #5ca4a9;
$dark-blue: #000034;

/* Fonts */

body {
    font-family: $main-text;
    color: $dark-blue;
}

h1, h2 {
    font-family: $heading;
    color: $terracotta;
}

.navbar {
    font-family: $heading;
}

/* Background colours */

.bg-platinum {
    background-color: $platinum;
}

/* CONTAINERS */

.container-fluid,
.row {
    padding: 0;
}

/* Background images */

.hero-img{
    height: 400px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.hero-home{
    background-image: url("https://i.ibb.co/744CXN6/painthands.jpg");
    background-position: center;
}

/* CAROUSELS */

.carousel-chevron {
    color: $blond;
}