{% block account_activity %}

<!-- different card structure necessary because of edit/delete buttons in account view -->

<div class="card familyhub-card">
    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
        alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
    </div>
</div>
<!-- buttons outside cards so inactive opacity setting does not effect them -->
<a href="{{url_for('edit_activity_page')}}" class="btn btn-readmore">Edit</a>
<a href="#" id="delete-button" class="btn btn-delete">Delete</a>

{% endblock %}