{% block alert %}

<div id="alertModal" class="container-fluid no-fouc">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 modal-content-box text-center">
            <h2 id="alertHeading">Alert</h2>
            <hr>
            <p id="alertMessage"></p>
            <p id="alertMessageLine2"></p>
            <!-- text-center class moves log in button to the middle -->
            <button id="alertModalClose" class="btn btn-search m-3 mb-5" type="submit">
                close
            </button>
        </div>
    </div>
</div>

{% endblock %}