{% block email_activity_modal %}

<div class="modal fade no-fouc" id="emailActivityModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Email the organisers of this activity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="email-activity-form" method="POST">
                    <div class="form-group">
                        <label for="emailActivityTo">To:</label>
                        <input value="{{ activity.contact.email }}" type="email" class="form-control"
                            id="emailActivityTo" name="emailActivityTo" aria-label="to email" disabled>
                    </div>
                    <div class="form-group">
                        <label for="emailActivityFromName">From:</label>
                        <input type="text" class="form-control" id="emailActivityFromName" name="emailActivityFromName"
                            aria-label="Please input your name (required)" placeholder="Please input your name"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="emailActivityFromEmail">Your email</label>
                        <input type="email" class="form-control" id="emailActivityFromEmail"
                            name="emailActivityFromEmail" aria-label="Please input your email (required)"
                            placeholder="Please input your email" required>
                    </div>
                    <div class="form-group">
                        <label for="emailActivityMessage">Your message</label>
                        <textarea class="form-control" rows="10" id="emailActivityMessage"
                            name="emailActivityMessage" aria-label="Please write your message here (required)"
                            placeholder="Please write your message here" required></textarea>
                    </div>
                    <button type="button" class="btn btn-readmore" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-create">Send email</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}