{% block new_user_confirm_modal %}

<div id="newUserConfirmModal" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 modal-content-box">
            <h2>Welcome to Family Hub!</h2>
            <hr>
            <h3>Congratulations! Your account has been registered.</h3>
            <p class="text-center">
                To continue please log in
            </p>
            <!-- text-center class moves log in button to the middle -->
            <form class="text-center">
                <a href="{{url_for('login_page')}}" id="confirm-delete" class="btn btn-readmore m-3 mb-5" type="submit">
                    Log in
                </a>
            </form>
        </div>
    </div>
</div>

{% endblock %}