{% block search_modal %}

<div id="search-modal" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 modal-content-box">
            <h2>Search</h2>
            <hr>
            <!-- text-center class moves search button to the middle -->
            <form class="text-center">
                <input id="search-input-field" class="form-control mx-auto" type="search" placeholder="What are you looking for?" aria-label="Search">
                <a href="{{url_for('search_page')}}" id="search-modal-submit-button" class="btn btn-search" type="submit">
                    Search
                </a>
                <button id="search-modal-submit-button" class="btn btn-search open-close-search-js" type="button">
                    Close
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}