{% block user_exists_modal %}

<div id="userExistsModal" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6 modal-content-box text-center">
            <h2 class="text-left">Hello again</h2>
            <hr>
            <p class="my-5">This email is already registered to Family Hub</p>
            <button id="closeUserExistsModal" class="btn btn-search m-3 mb-5" type="submit">
                Close
            </button>
            <a href="{{url_for('login_page')}}" class="btn btn-readmore m-3 mb-5">
                Log in
            </a>
        </div>
    </div>
</div>

{% endblock %}