@import url("https://fonts.googleapis.com/css?family=Delius|News+Cycle|Patrick+Hand+SC:400,500,700,900&display=swap");
/* ------------------------------
    Variables
------------------------------ */
/* ------------------------------
    Fonts
------------------------------ */
.navbar {
  font-family: "Delius", cursive; }

body {
  font-family: "News Cycle", sans-serif;
  color: #000034; }

h1,
h2 {
  font-family: "Delius", cursive;
  color: #ed6a5a;
  margin-top: 2.5rem; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.5rem; }

footer h3,
footer h4 {
  font-family: "News Cycle", sans-serif;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  margin-top: 1rem; }

#search-results {
  font-family: "News Cycle", sans-serif;
  font-size: 1.8rem;
  color: #000034; }

.bold {
  font-weight: 700; }

/* ------------------------------
    Buttons
------------------------------ */
.btn {
  font-weight: 500; }

.btn-readmore {
  background-color: #9bc1bc;
  border: #9bc1bc;
  color: #fff; }

.btn-readmore:hover {
  background-color: #5ca4a9;
  border: #5ca4a9;
  color: #e6ebe0; }

.btn-search {
  color: #fff;
  background-color: #ed6a5a;
  border: #ed6a5a;
  opacity: 0.8; }

.icon-circle {
  height: 48px;
  width: 48px;
  background-color: #000034;
  border-radius: 50%;
  position: relative; }

.fa-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; }

.btn-search:hover {
  opacity: 1;
  color: #fff; }

.search-input-field {
  display: inline; }

#search-page-search-button {
  margin-bottom: 4px;
  margin-top: 1rem; }

.heading-btn {
  margin-top: 2.7rem; }

/* credit: code for floating buttons taken from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp 
and edited slightly to fit project needs */
#to-top-btn {
  position: fixed;
  bottom: 15px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ed6a5a;
  opacity: 0;
  background-color: transparent;
  transition: all 0.5s ease-in-out 0.1s; }

/* positions search icon above to top button */
#search-btn {
  position: fixed;
  bottom: 75px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  color: #000034;
  background-color: transparent;
  /* button hidden and inactive until user starts to scroll, 
  then js adds active class to it */
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out 0.1s; }

#search-btn.active,
#to-top-btn.active {
  pointer-events: auto;
  opacity: 0.5; }

#search-btn.active:hover,
#to-top-btn.active:hover {
  opacity: 1; }

/* ------------------------------
    Icons
------------------------------ */
/* adds spacing between icons and headings */
.icon {
  margin-right: 1rem; }

.icon-sm {
  margin-left: 0.75rem; }

.fa-chevron-right,
.fa-chevron-left {
  font-size: 2.5rem; }

.social-icon-shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5); }

.social-icons-footer a {
  display: inline;
  margin-right: 0.5rem;
  margin-left: 0.5rem; }

.fab {
  color: #ffffff;
  -o-transition: all 0.2s ease-in-out 0.2s;
  transition: all 0.2s ease-in-out 0.2s;
  -moz-transition: all 0.2s ease-in-out 0.2s;
  -webkit-transition: all 0.2s ease-in-out 0.2s; }

/* UX feature, social icons grow and change colour when hovered over */
.fab:hover {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4); }

.fa-instagram:hover,
#activity-listing-business-social-links .fa-instagram:hover {
  color: #fbad50; }

.fa-facebook:hover,
#activity-listing-business-social-links .fa-facebook:hover {
  color: #3b5998; }

.fa-twitter:hover,
#activity-listing-business-social-links .fa-twitter:hover {
  color: #38A1F3; }

.custom-calendar-icon {
  width: 60px;
  text-align: center;
  font-family: "Patrick Hand SC", cursive;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-top: -30px;
  margin-left: 10px;
  border-radius: 5px; }

.display-month {
  height: 20px;
  background-color: #ed6a5a;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px 5px 0 0; }

.display-day {
  height: 40px;
  background-color: #fff;
  color: #ed6a5a;
  font-size: 25px;
  border-radius: 0 0 5px 5px; }

.fa-times {
  color: #ed6a5a; }

.fa-check {
  color: #94b659; }

#activity-listing-business-social-links .fab {
  color: #000034;
  font-size: 2rem; }

/* ------------------------------
    Carousels
------------------------------ */
.carousel-chevron {
  color: #f4f1bb; }

.carousel-control-prev,
.carousel-control-next {
  width: 10%; }

/* ------------------------------
    Modals
------------------------------ */
#search-modal {
  height: 100vh;
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  opacity: 0;
  /* makes modal background darker but still has transparency 
  stops content inside tihs element also being transparent, 
  which was what was happening when using opacity */
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  transition: all 0.5s ease-in-out 0.2s; }

#search-modal.active {
  pointer-events: auto;
  opacity: 1; }

.search-modal-content-box {
  max-width: 550px;
  height: 300px;
  margin: 4rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  background-color: white;
  border-radius: 8px;
  border: 1px solid black;
  /* Credit: code for box shadow taken from https://codepen.io/sdthornton/pen/wBZdXq */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.search-input-field {
  width: 100%; }

#search-modal-submit-button {
  margin-top: 1rem;
  text-align: center; }

/* ------------------------------
    Search filters
------------------------------ */
.filter-heading {
  margin: 0;
  font-family: "News Cycle", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  color: #5ca4a9; }

.filter-heading-button {
  font-family: "News Cycle", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0.1s;
  color: #5ca4a9;
  /* overriding bootstrap css */
  text-decoration: none; }

.filter-heading-button:hover {
  color: #000034;
  text-decoration: none; }

.btn-link:focus {
  text-decoration: none;
  color: #000034; }

/* to stop datepicker stretching too far out */
.gj-datepicker {
  max-width: 215px; }

/* ------------------------------
    Cards
------------------------------ */
.familyhub-card {
  margin-bottom: 1rem;
  /* CREDIT: Code for box shadow taken from https://codepen.io/sdthornton/pen/wBZdXq */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.familyhub-card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.familyhub-card-header {
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.familyhub-card-header-no-button {
  padding: 0.7rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.filter-options {
  color: #000034; }

#search-page-wrapper .familyhub-card {
  margin-bottom: 2rem; }

/* ------------------------------
    All pages
------------------------------ */
/* !important needed here to override more specific heading colours in _listings.scss */
a {
  color: #5ca4a9 !important;
  transition: all 0.2s ease-in-out 0.2s; }

a:hover {
  text-decoration: none;
  color: #9bc1bc !important; }

/* ------------------------------
    Background colours
------------------------------ */
.bg-platinum {
  background-color: #e6ebe0; }

/* ------------------------------
    Containers
------------------------------ */
.container-fluid,
.row {
  padding: 0; }

hr {
  border-top: 2px solid #5ca4a9;
  opacity: 0.5; }

footer hr {
  border-top: 2px solid #e6ebe0;
  opacity: 0.5; }

/* ------------------------------
    Background images
------------------------------ */
.hero-img {
  height: 400px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative; }

.hero-home {
  background-image: url("https://i.ibb.co/744CXN6/painthands.jpg");
  background-position: center; }

.hero-search {
  background-image: url("https://i.ibb.co/y8bx9BL/kidswim.jpg");
  background-position: center; }

.hero-activities {
  background-image: url("https://i.ibb.co/9VkHCkq/pumpkin.jpg");
  background-position: center 20%; }

.hero-events {
  background-image: url("https://i.ibb.co/Z2mFv47/festival.jpg");
  background-position: center 90%; }

/* positions text in the middle of the hero image, 
shadow added to give depth and contrast with the image for readability */
.hero-img-tagline {
  font-family: "Patrick Hand SC", cursive;
  color: #fff;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  bottom: 5%;
  width: 100%; }

.about-pic-wrapper {
  width: 100px;
  height: 100px;
  margin: 1rem; }

.about-pic {
  background-image: url("../images/anna.jpg");
  background-size: cover;
  height: 100%;
  border-radius: 50%; }

/* ------------------------------
    Footer
------------------------------ */
footer {
  background-color: #5ca4a9;
  color: white;
  margin-top: 3rem; }

footer p,
footer a {
  margin-bottom: 0.3rem;
  color: #e6ebe0;
  display: block; }

footer h4 {
  margin-top: auto; }

footer a {
  color: #e6ebe0;
  transition: all 0.5s ease-in-out 0.1s; }

footer a:hover {
  text-decoration: none;
  color: white; }

.copyright,
.social-icons-footer {
  margin-bottom: 2rem; }

/* scroll behaviour, adds smooth scrolling when 
jumping to different parts of the same page */
html {
  scroll-behavior: smooth; }

/* ------------------------------
    Listing pages
------------------------------ */
.listing-img {
  width: 100%;
  margin-bottom: 2rem; }

li {
  list-style: none; }

ul {
  padding: 0; }

#listing-details h3 {
  font-family: "Patrick Hand SC", cursive;
  font-size: 1.5rem;
  color: #000034; }

#listing-details p {
  margin-bottom: 0.5rem; }

#listing-details li,
#listing-contact-links li {
  margin-bottom: 0.3rem; }

#listing-contact-links h5 {
  font-family: "Patrick Hand SC", cursive;
  font-size: 1.2rem;
  color: #000034; }

#listing-contact-links i {
  font-size: 1.2rem; }

#activity-listing-business-social-links li {
  display: inline;
  margin-right: 0.5rem; }

/* ------------------------------
    Media Queries
------------------------------ */
/* small size screens and up */
@media screen and (min-width: 576px) {
  /* keeps search bar and search button in one line */
  .search-input-field {
    width: 75%; }

  #search-page-search-button {
    /* keeps search bar and search button in one line */
    margin-top: 0; } }
/* medium size screens and up */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem; }

  h2 {
    font-size: 2.2rem; }

  .fa-chevron-right,
  .fa-chevron-left {
    font-size: 4rem; }

  /* creates more space around carousel controls */
  .carousel-control-prev,
  .carousel-control-next {
    width: 15%; }

  /* adds more spacing around floating button */
  #to-top-btn {
    right: 30px;
    bottom: 30px; }

  #search-btn {
    right: 30px;
    bottom: 100px; }

  .search-input-field {
    /* keeps search bar and search button in one line */
    width: 80%; } }

/*# sourceMappingURL=main.css.map */
