/* ------------------------------
    Forms
------------------------------ */

a.fh-link,
#account-settings-wrapper a,
#contact-wrapper a {
    color: $mid-blue;
    -webkit-transition: all 0.3s ease-in-out 0.3s;
    transition: all 0.3s ease-in-out 0.3s;
}
#contact-wrapper a:hover,
#account-settings-wrapper a:hover,
a.fh-link:hover {
    color: $mid-blue-hover;
}

#account-settings-wrapper a {
    font-size: 1.1rem;
}

#create-account-wrapper h3,
#login-wrapper h3,
#account-settings-wrapper h3,
#add-edit-activity-wrapper h3,
#contact-wrapper h3,
#account-settings-wrapper h3 {
    font-size: 1.2rem;
    color: $mid-blue;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
}

#login-wrapper h3 {
    text-transform: none;
}

#create-account-wrapper label,
#login-wrapper label {
    color: $terracotta;
}

.form-row {
    margin-right: 5px;
    margin-left: 5px;
}

/*  stops user clicking on these elements until they are removed by clicking a switch  */
.no-click,
.mon-times, 
.tue-times, 
.wed-times,
.thu-times,
.fri-times,
.sat-times,
.sun-times {
    pointer-events: none;
}

.mon-times.active,
.tue-times.active, 
.wed-times.active,
.thu-times.active,
.fri-times.active,
.sat-times.active,
.sun-times.active  {
    pointer-events: auto;
}


.weekday-switch-row-top {
    padding-top: 2.35rem;
}

.weekday-switch-row {
    padding-top: 0.4rem;
}

/* lines up switches next to start/end times */
#activityForm .custom-switch {
    float: right;
    width: 70px;
}

.add-listing-image {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.add-listing-image:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input.no-click {
    margin-bottom: 0;
}

.form-control {
    max-width: 350px;
}

/* widen width of fields in desired places */
#contactMessage,
#add-edit-activity-wrapper textarea,
#activity_description,
#accountId,
#imgUrl,
#searchInput,
#login-wrapper input,
#account-settings-wrapper input,
.full-width {
    max-width: 100%;
}

/* customizes bootstrap on-off switches to project brand colour */
.custom-control-input:checked ~ .custom-control-label::before{
    border-color: $mid-blue;
    background-color: $mid-blue;
}

#edit-account-form input {
    margin-bottom: 1rem;
}

.category-list {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.category-list i {
    margin-right: 0.5rem;
    font-size: 1.5rem;
    color: $green;
}