/* ------------------------------
    Media Queries
------------------------------ */

/* small size screens and up */

@media screen and (min-width: 576px) {
    /* keeps search bar and search button in one line */
    .search-input-field {
        width: 75%;
    }
    #search-page-search-button {
        /* keeps search bar and search button in one line */
        margin-top: 0;
    }
    .card-img-wrapper {
        height: 180px;
    }
    .card-title-wrapper {
        height: 40px;
    }
    .card-text-wrapper {
        height: 85px;
    }
}

/* medium size screens and up */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.2rem;
    }

    .fa-chevron-right,
    .fa-chevron-left {
        font-size: 4rem;
    }
    /* creates more space around carousel controls */
    .carousel-control-prev,
    .carousel-control-next {
        width: 15%;
    }
    /* adds more spacing around floating button */
    #to-top-btn {
        right: 30px;
        bottom: 30px;
    }

    #search-btn {
        right: 30px;
        bottom: 100px;
    }
    .search-input-field {
        /* keeps search bar and search button in one line */
        width: 80%;
    }
    
    #errorPageColumn {
        padding: 5rem 5rem;
    }
    #errorPageColumn h1,
    #errorPageColumn h2 {
        margin-top: auto;
    }
    #animation404 {
        left: auto;
        right: 0;
        width: auto;
    }
    .card-img-wrapper {
        height: 170px;
    }
}

/* large screens and up */

@media screen and (min-width: 992px) {
    #backgroundImgPermission {
        background-image: url('https://i.ibb.co/RYfs1R8/rock-on.jpg');
        background-position: 90% 90%;
    }
    .card-img-wrapper {
        min-height: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .card-img-wrapper {
        height: 225px;
    }
}