/* ------------------------------
    Forms
------------------------------ */

a.fh-link {
    color: $mid-blue;
    transition: all 0.3s ease-in-out 0.3s;
}
a.fh-link:hover {
    color: $light-blue;
}

#create-account-wrapper h3,
#login-wrapper h3,
#account-settings-wrapper h3 {
    font-size: 1.2rem;
    color: $mid-blue;
    margin-bottom: 1.2rem;
}

#account-settings-wrapper h3 {
    margin-bottom: 0.5rem;
}

#create-account-wrapper label,
#login-wrapper label {
    color: $terracotta;
}

.form-row {
    margin-right: 5px;
    margin-left: 5px;
}

/* make datepicker fields wider in add listing pages */
#add-edit-activity-wrapper .gj-datepicker {
    max-width: 100%;
}

/* forces users to use the date/time pickers instead of adding their own input */
#activityStartDate, #activityEndDate,
#startTimeMon, #startTimeTue, #startTimeWed, #startTimeThu, #startTimeFri, #startTimeSat, #startTimeSun,
#endTimeMon, #endTimeTue, #endTimeWed, #endTimeThu, #endTimeFri, #endTimeSat, #endTimeSun {
    pointer-events: none;
}


/* positions checkbox and labels for weekday open + close times in the form
% used to make position responsive */
.weekday-checkbox {
    /* set to 50% in media queries for medium screens and up */
    margin-left: 3%;
}

.weekday-checkbox-label {
    /* set to 75% in media queries for medium screens and up */
    padding-left: 50%;
}

.weekday-checkbox-row-top {
    padding-top: 2.35rem;
}

.weekday-checkbox-row {
    padding-top: 0.4rem;
}