/* ------------------------------
    Listing pages
------------------------------ */

.listing-img {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 8px;
    /* CREDIT: Code for box shadow taken from https://codepen.io/sdthornton/pen/wBZdXq */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

#activity-listing-wrapper h3,
#event-listing-wrapper h3 {
    font-family: $main-text;
    font-size: 1.1rem;
    color: $terracotta;
    text-transform: uppercase;
}

#listing-details p {
    margin-bottom: 0.5rem;
}

#listing-details li,
#listing-contact-links li {
    margin-bottom: 0.3rem;
}

#listing-contact-links a {
    color: $mid-blue;
    transform: all 0.2s ease-in-out 0.2s;
}

#listing-contact-links a:hover {
    color: $light-blue;
}


#listing-contact-links h5 {
    font-family: $capitalized-heading;
    font-size: 1.2rem;
    color: $dark-blue;
}

#listing-contact-links i {
    font-size: 1.2rem;
}

#activity-listing-business-social-links li,
#social-share-icons li,
#social-share-icons h3 {
    display: inline;
    margin-right: 0.5rem;
}

#social-share-icons ul {
    margin-top: 1rem;
}

table {
    margin-bottom: 1rem;
}

td {
    padding-right: 0.5rem;
}

#create-account-wrapper h3 {
    font-size: 1.2rem;
    color: $mid-blue;
    margin-bottom: 1.2rem;
}

#create-account-wrapper label {
    color: $terracotta;
}