<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Family events and activities for kids in Haarlemmermeer and Haarlem, in English">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Anna Greaves">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css">
    <title>{{title}} | Family Hub</title>
</head>

<body>
    <!-- Navigation -->
    {% include 'partials/_navbar.html' %}

    <!-- Main content -->
    {% block content %} {% endblock %}
    
    <!-- Footer -->
    {% include 'partials/_footer.html' %}

    <!-- floating search and go to top buttons -->
    {% include 'partials/_floating_btns.html' %}

    <!-- search modal -->
    {% include 'partials/_search_modal.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"></script>

    <script src="{{url_for('static', filename='js/familyhub.js')}}"></script>
</body>

</html>
