{% extends 'base.html' %} {% block content %}
    <!-- Hero image -->
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 hero-img hero-events">
            </div>
        </div>
    </div>
    
    <main>
        <!-- Section: Events -->
        <section>

            <div id="events-page-wrapper" class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>Events</h1>
                        <hr>
                    </div>

                    <!--START: Events search filters for MOBILE ONLY -->
                    {% include 'partials/search_filters/_events_sm.html' %}


                    <!--START: Event search filters for TABLETS + UP -->
                    {% include 'partials/search_filters/_events_md.html' %}

                    <!--START: events search results -->
                    <div id="events-results" class="col-md-8 col-lg-9">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 id="search-results">3 results</h2>
                                <hr>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card familyhub-card">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                                        <div class="custom-calendar-icon">
                                            <div class="display-month">JUN</div>
                                            <div class="display-day">25</div>
                                        </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="{{url_for('event_listing_page')}}" class="btn btn-readmore">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card familyhub-card">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                                        <div class="custom-calendar-icon">
                                            <div class="display-month">JUN</div>
                                            <div class="display-day">25</div>
                                        </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="{{url_for('event_listing_page')}}" class="btn btn-readmore">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card familyhub-card">
                                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                                        <div class="custom-calendar-icon">
                                            <div class="display-month">JUN</div>
                                            <div class="display-day">25</div>
                                        </div>
                                    <div class="card-body">
                                        <h4 class="card-title">Card title</h4>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="{{url_for('event_listing_page')}}" class="btn btn-readmore">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h2 id="search-results">End of results</h2>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <!--END: Activities search results -->

                </div>
            </div>

        </section>

    </main>
{% endblock %}