{% extends 'base.html' %} {% block content %}
    <!-- Hero image -->
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12 hero-img hero-search">
            </div>
        </div>
    </div>
    
    <main>
        <!-- Section: Recommended -->
        <section>

            <div id="search-page-wrapper" class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Search</h1>
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <form class="text-center">
                            <input class="form-control mx-auto search-input-field" type="search" placeholder="What are you looking for?" aria-label="Search">
                            <button id="search-page-search-button" class="btn btn-search" type="submit">
                                Search
                            </button>
                        </form>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h2 id="search-results">3 results</h2>
                        <hr>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card familyhub-card">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="activitylisting.html" class="btn btn-readmore">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card familyhub-card">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="activitylisting.html" class="btn btn-readmore">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card familyhub-card">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="activitylisting.html" class="btn btn-readmore">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 id="search-results">End of results</h2>
                        <hr>
                    </div>
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-search mr-1 mr-md-3">Search activities</button>
                        <button type="button" class="btn btn-search ml-1 ml-md-3">Search events</button>
                    </div>
                </div>
            </div>

        </section>

    </main>
    
{% endblock %}