/* ------------------------------
    Search filters
------------------------------ */

.filter-heading {
    margin: 0;
    font-family: $main-text;
    font-size: 1rem;
    text-transform: uppercase;
    color: $mid-blue;
}

.filter-heading-button {
    font-family: $main-text;
    font-size: 1rem;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease-in-out 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
    color: $mid-blue;
    /* overriding bootstrap css */
    text-decoration: none;
}

.filter-heading-button:hover {
    color: $dark-blue;
    text-decoration: none;
}

.btn-link:focus {
    text-decoration: none;
    color: $dark-blue;
}

/* Forces user to use datepicker and removes ability to type input into date field */
#activityFilterDatepickerSm,
#activityFilterDatepickerLg {
    pointer-events: none;
}


/* Code credit: For animated side-nav taken from 
https://www.w3schools.com/howto/howto_js_sidenav.asp 
and edited to fit project needs as a pull out filters bar */
#filter-nav {
    height: 100%;
    width: 275px;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: -275px;
    background-color: $mid-blue-hover;
    overflow-x: hidden;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

#filter-nav.filters-open {
    left: 0;
}

main,
footer,
nav {
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

main.filters-open, 
footer.filters-open, 
nav.filters-open {
    opacity: 0.35;
    pointer-events: none;
}

#filter-frame {
    padding: 40px 20px 0 20px;
}

#filter-nav #closeFiltersBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}

#filter-nav label {
    color: #fff;
}

#filter-nav select {
    margin-bottom: 5px;
    width: 100%
}
