/* ------------------------------
    Carousels
------------------------------ */

/* works with js to slow carousels down. 
Credit: https://stackoverflow.com/questions/17332431/how-can-i-control-the-speed-that-bootstrap-carousel-slides-in-items/18633703 */
.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    -webkit-transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
    }

.carousel-chevron {
    color: $platinum-dark;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

/* ------------------------------
    Modals
------------------------------ */

#search-modal {
    height: 100vh;
    position: fixed;
    z-index: 100;
    bottom: 0;
    right: 0;
    opacity: 0;
    /* makes modal background darker but still has transparency 
    stops content inside tihs element also being transparent, 
    which was what was happening when using opacity */
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    -webkit-transition: all 0.5s ease-in-out 0.2s;
    transition: all 0.5s ease-in-out 0.2s;
}

#search-modal.active {
    pointer-events: auto;
    opacity: 1;
}

.search-modal-content-box {
    max-width: 550px;
    height: 300px;
    margin: 4rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    /* Credit: code for box shadow taken from https://codepen.io/sdthornton/pen/wBZdXq */
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.search-input-field {
    width: 100%;
}
