{% block ages_table %}

<!-- display ages of children that this listing is for -->

<h3><i class="fas fa-child icon"></i>Ages</h3>
<table>
    <tbody>
        <tr>
            <td>
                Under 4
            </td>
            <td>
                <i class="fas icon-sm 
                {% if event and event.ageRange.under4 %}fa-check
                {% elif activity and activity.ageRange.under4 %}fa-check
                {% else %}fa-times
                {% endif %}"></i>
            </td>
        </tr>
        <tr>
            <td>
                4 - 6 yr
            </td>
            <td>
                <i class="fas icon-sm {% if event and event.ageRange.age4to6 %}fa-check
                {% elif activity and activity.ageRange.age4to6 %}fa-check
                {% else %}fa-times
                {% endif %}"></i>
            </td>
        </tr>
        <tr>
            <td>
                6 - 8 yr
            </td>
            <td>
                <i class="fas icon-sm {% if event and event.ageRange.age6to8 %}fa-check
                {% elif activity and activity.ageRange.age6to8 %}fa-check
                {% else %}fa-times
                {% endif %}"></i>
            </td>
        </tr>
        <tr>
            <td>
                8 - 10 yr
            </td>
            <td>
                <i class="fas icon-sm {% if event and event.ageRange.age8to10 %}fa-check
                {% elif activity and activity.ageRange.age8to10 %}fa-check
                {% else %}fa-times
                {% endif %}"></i>
            </td>
        </tr>
        <tr>
            <td>
                10 - 12 yr
            </td>
            <td>
                <i class="fas icon-sm {% if event and event.ageRange.age10to12 %}fa-check
                {% elif activity and activity.ageRange.age10to12 %}fa-check
                {% else %}fa-times
                {% endif %}"></i>
            </td>
        </tr>
        <tr>
            <td>
                12 yr +
            </td>
            <td>
                <i class="fas icon-sm {% if event and event.ageRange.age12up %}fa-check
                {% elif activity and activity.ageRange.age12up %}fa-check
                {% else %}fa-times
                {% endif %}"></i>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}