{% block ages_table %}

<!-- display ages of children that this listing is for -->

<h3><i class="fas fa-child icon"></i>Ages</h3>
<table>
    <tbody>
        <tr>
            <td>
                Under 4
            </td>
            <td>
                <i class="fas fa-times icon-sm"></i>
            </td>
        </tr>
        <tr>
            <td>
                4 - 6 yr
            </td>
            <td>
                <i class="fa fa-check icon-sm"></i>
            </td>
        </tr>
        <tr>
            <td>
                6 - 8 yr
            </td>
            <td>
                <i class="fa fa-check icon-sm"></i>
            </td>
        </tr>
        <tr>
            <td>
                8 - 10 yr
            </td>
            <td>
                <i class="fa fa-check icon-sm"></i>
            </td>
        </tr>
        <tr>
            <td>
                10 - 12 yr
            </td>
            <td>
                <i class="fas fa-times icon-sm"></i>
            </td>
        </tr>
        <tr>
            <td>
                12 yr +
            </td>
            <td>
                <i class="fas fa-times icon-sm"></i>
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}