{% block contact %}

    <h3>Contact</h3>    
    <p>{{ activity.address.addressLine1 }}<br>
    {{ activity.address.postcode }}  {{ activity.address.town }}</p>
    <a class="fh-link" target="_blank" href="{{ activity.contact.url }}" 
    aria-label="Visit the website for this activity {{ activity.contact.url }}">{{ activity.contact.url }}</a>
    <a class="fh-link" href="mailto:{{ activity.contact.email }}" 
    aria-label="Email the organisers of this activity">{{ activity.contact.email }}</a>
    {% endif %}

{% endblock %}