{% block open_times %}

<div id="social-share-icons" class="col-12 col-md-6">
    <h3>Share</h3>
    <ul>
        <li>
            <a href="#" target="_blank" aria-label="Share this page on Facebook" rel="noopener">
                <i class="fab fa-facebook social-icon-shadow"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" aria-label="Share this page on Twitter" rel="noopener">
                <i class="fab fa-twitter social-icon-shadow"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank" aria-label="Share this page on Instagram" rel="noopener">
                <i class="fab fa-instagram social-icon-shadow"></i>
            </a>
        </li>
    </ul>
</div>

{% endblock %}