{% block navbar %}

<nav class="navbar navbar-expand-md navbar-light bg-platinum">
    <a class="navbar-brand" href="{{url_for('home_page')}}">
        <img id="nav-logo" src="{{url_for('static', filename='img/logo_transparent.png')}}" class="d-inline-block align-top" alt="Family Hub Logo">
    Family Hub
    </a>
    <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link {% if active == 'home' %}active{% endif %}" href="{{url_for('home_page')}}">
                    Home {% if active == 'home' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active == 'activities' %}active{% endif %}" href="{{url_for('activities_page')}}">
                    Activities {% if active == 'activities' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>

            <!-- create account and log in navigation items only visible when not logged in -->
            {% if loggedIn != True %}
            <li class="nav-item">
                <a class="nav-link {% if active == 'newAccount' %}active{% endif %}" href="{{url_for('new_account_page')}}">
                    Create Account {% if active == 'newAccount' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active == 'login' %}active{% endif %}" href="{{url_for('login_page')}}">
                    Log In {% if active == 'login' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
            {% endif %}

            <!-- My account dropdown menu only visible when logged in -->
            {% if loggedIn == True %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu bg-platinum" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{url_for('my_account_page', username=session['user'])}}">My Activities</a>
                    <a class="dropdown-item" href="{{url_for('new_activity_page', username=session['user'])}}">Add New Activity</a>
                    <a class="dropdown-item" href="{{url_for('settings_page', username=session['user'])}}">Settings</a>
                    <a class="dropdown-item" href="{{url_for('logout')}}">Log out</a>
                </div>
            </li>
            {% endif %}   

            <li class="nav-item">
                <a class="nav-link {% if active == 'contact' %}contact{% endif %}" href="{{url_for('contact_page')}}">
                    Contact {% if active == 'contact' %}<span class="sr-only">(current)</span>{% endif %}
                </a>
            </li>
        </ul>
    </div>
</nav>

{% endblock %}