/* ------------------------------
    Search filters
------------------------------ */

.filter-heading {
    margin: 0;
    font-family: $main-text;
    font-size: 1rem;
    text-transform: uppercase;
    color: $mid-blue;
}

.filter-heading-button {
    font-family: $main-text;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out 0.1s;
    color: $mid-blue;
    /* overriding bootstrap css */
    text-decoration: none;
}

.filter-heading-button:hover {
    color: $dark-blue;
    text-decoration: none;
}

.btn-link:focus {
    text-decoration: none;
    color: $dark-blue;
}

/* to stop datepicker stretching too far out */
.gj-datepicker {
    max-width: 215px;
}