/* ------------------------------
    Icons
------------------------------ */

/* adds spacing between icons and headings */
.icon {
    margin-right: 1rem;
}

.icon-sm {
    margin-left: 0.75rem;
}

/* chevrons for carousels */
.fa-chevron-right,
.fa-chevron-left {
    font-size: 2.5rem;
}

.social-icon-shadow {
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.8);
}

footer .social-icon-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.social-icons-footer a {
    display: inline;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.fab,
.fa-paper-plane {
    color: #ffffff;
    transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
}

/* UX feature, social icons grow and change colour when hovered over */

.fab:hover,
.far:hover {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.fa-instagram:hover,
#listing-business-social-links .fa-instagram:hover {
    color: #fbad50;
}

.fa-facebook:hover,
#listing-business-social-links .fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover,
#listing-business-social-links .fa-twitter:hover {
    color: #38A1F3;
}

.no-share {
    margin-right: 0.5rem;
}

/* creates custom calendar icon for event listing cards
and positions it floating over the bottom right edge
of the listing image */

.custom-calendar-icon {
    width: 47px;
    text-align: center;
    font-family: $capitalized-heading;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: -30px;
    margin-left: 80%;
    border-radius: 5px;
}

.display-month {
    height: 17px;
    background-color: $terracotta-hover;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 5px 5px 0 0;
}

.display-day {
    height: 30px;
    background-color: #fff;
    color: $terracotta-hover;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
}

/* adjust height of card body under custom calendar icon 
so that it is inline with activity cards that have no calendar icon */
.custom-calendar-icon ~ .card-body {
    padding-top: 3.5px;
}

/* check and cross icons for clearly showing what ages groups 
each listing is for */
.fa-times {
    color: $terracotta;
}

.fa-check {
    color: $green;
}

#listing-business-social-links .fab,
#social-share-icons .fab,
#social-share-icons .far {
    color: $dark-blue;
    font-size: 2rem;
}

/* settings icon for account settings page */
.fa-cog {
    font-size: 2.5rem;
    color: slategrey;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
}

.fa-cog:hover {
    font-size: 2.5rem;
    color: $dark-blue;
}

/* ------------------------------
    Spinner
------------------------------ */

#spinner-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    height: 200px;
    width: 200px;
    z-index: 99999;
    border: 0.3px solid rgba(0,0,0,0.24);
    border-radius: 8px;
    /* CREDIT: Code for box shadow taken from https://codepen.io/sdthornton/pen/wBZdXq */
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    visibility: hidden;
}

#spinner {
    background-image: url('../animations/spinner.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    height: 100%;
    width: 100%;
}