/* ------------------------------
    Icons
------------------------------ */

/* adds spacing between icons and headings */
.icon {
    margin-right: 1rem;
}

.icon-sm {
    margin-left: 0.75rem;
}

/* chevrons for carousels */
.fa-chevron-right,
.fa-chevron-left {
    font-size: 2.5rem;
}

.social-icon-shadow {
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.8);
}

footer .social-icon-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.social-icons-footer a {
    display: inline;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.fab,
.fa-paper-plane {
    color: #ffffff;
    transition: all 0.2s ease-in-out 0.2s;
    -moz-transition: all 0.2s ease-in-out 0.2s;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
}

/* UX feature, social icons grow and change colour when hovered over */

.fa-instagram:hover,
#listing-business-social-links .fa-instagram:hover {
    color: #fbad50;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.fa-facebook:hover,
#listing-business-social-links .fa-facebook-square:hover {
    color: #3b5998;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.fa-twitter:hover,
#listing-business-social-links .fa-twitter-square:hover {
    color: #38A1F3;
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.no-share {
    margin-right: 0.5rem;
}

/* check and cross icons for clearly showing what ages groups 
each listing is for */
.fa-times {
    color: $terracotta;
}

.fa-check {
    color: $green;
}

#listing-business-social-links .fab,
#social-share-icons .fab,
#social-share-icons .far {
    color: $dark-blue;
    font-size: 2rem;
}

/* settings icon for account settings page */
.account-cog {
    font-size: 2.5rem;
    color: slategrey;
    -webkit-transition: all 0.2s ease-in-out 0.2s;
    transition: all 0.2s ease-in-out 0.2s;
}

.account-cog:hover {
    font-size: 2.5rem;
    color: $dark-blue;
}

.menu-icon {
    width: 18px;
    opacity: 0.6!important;
}

/* ------------------------------
    Spinner
------------------------------ */

#spinner-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    height: 50px;
    width: 50px;
    z-index: 99999;
    // visibility: hidden;     
}

#spinner {
    background-image: url('../animations/spinner.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}