@import url('https://fonts.googleapis.com/css?family=Delius|News+Cycle|Patrick+Hand+SC:400,500,700,900&display=swap');

/* ------------------------------
    Variables
------------------------------ */

// fonts
$main-text: 'News Cycle', sans-serif;
$heading: 'Delius', cursive;
$capitalized-heading: 'Patrick Hand SC', cursive;

// colours 
$platinum: #e6ebe0;
$platinum-dark: #9b997a;
$terracotta: #ed6a5a;
$terracotta-hover: #e7422e;
$blond: #f4f1bb;
$light-blue: #9bc1bc;
$mid-blue: #5ca4a9;
$mid-blue-hover: #346861;
$dark-blue: #000034;
$green: #94b659;
$green-hover: #687d44;
$red: #dc3545;
$red-hover: #c0303e;